# CODEOWNERS file for nba_api
# This file defines who will be automatically requested for review
# when someone opens a pull request.
#
# More information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repository
* @swar
