[flake8]
min_python_version = 3.7.0

# 'NBAHTTP.send_api_request' is too complex (15)
max-complexity = 15

# Multiple Lines are over 127 (extend-ignore includes E501)
max-line-length = 127

exclude = 
    # TODO: Fix Violations
    tools
    scripts

extend-ignore = 
    # TODO: Fix Violations
    # indentation is not a multiple of 4
    E111
    # unexpected spaces around keyword / parameter equals
    E251
    # at least two spaces before inline comment
    E261
    # block comment should start with ‘# ‘
    E265
    # expected 2 blank lines, found {n}
    E302
    #  line too long ({chars} > {max-line-length} characters)
    E501
    # comparison to False should be 'if cond is False:' or 'if not cond:'
    E712
    # imported but unused
    F401
    # unable to detect undefined names
    F403
    # may be undefined, or defined from star imports:
    F405
    # trailing whitespace
    W291
    # no newline at end of file
    W292
    # blank line contains whitespace
    W293
    # blank line at end of file
    W391
