[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nba_api"
version = "1.2.0.dev"
description = "An API Client package to access the APIs for NBA.com"
license = "MIT"
authors = [ 
     "Swar Patel <swar.m.patel@gmail.com>",
]
maintainers = [
    "Swar Patel <swar.m.patel@gmail.com>",
    "Randy Forbes <randy.forbes@gmail.com>",
]
readme = "README.md"
repository = "https://github.com/swar/nba_api"
documentation = "https://github.com/swar/nba_api/blob/master/README.md"
keywords = ["api", "basketball", "data", "nba", "sports", "stats"]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Software Development"
]

[tool.poetry.dependencies]
python = "^3.7,<3.11"
requests = "*"
numpy = "*"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/swar/nba_api/issues"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "^4.0"
flake8 = "^5.0.4"

[tool.pytest.ini_options]
testpaths = "./tests/unit/"