interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playergamestreakfinder?ActiveStreaksOnly=&Conference=&DateFrom=&DateTo=&Division=&DraftNumber=&DraftRound=&DraftTeamID=&DraftYear=&EqAST=&EqBLK=&EqDD=&EqDREB=&EqFG3A=&EqFG3M=&EqFG3_PCT=&EqFGA=&EqFGM=&EqFG_PCT=&EqFTA=&EqFTM=&EqFT_PCT=&EqMINUTES=&EqOREB=&EqPF=&EqPTS=&EqREB=&EqSTL=&EqTD=&EqTOV=&GameID=&GtAST=&GtBLK=&GtDD=&GtDREB=&GtFG3A=&GtFG3M=&GtFG3_PCT=&GtFGA=&GtFGM=&GtFG_PCT=&GtFTA=&GtFTM=&GtFT_PCT=&GtMINUTES=&GtOREB=&GtPF=&GtPTS=&GtREB=&GtSTL=&GtTD=&GtTOV=&LeagueID=00&Location=&LtAST=&LtBLK=&LtDD=&LtDREB=&LtFG3A=&LtFG3M=&LtFG3_PCT=&LtFGA=&LtFGM=&LtFG_PCT=&LtFTA=&LtFTM=&LtFT_PCT=&LtMINUTES=&LtOREB=&LtPF=&LtPTS=&LtREB=&LtSTL=&LtTD=&LtTOV=&MinGames=&Outcome=&PORound=&PlayerID=&RookieYear=&Season=&SeasonSegment=&SeasonType=&StarterBench=&TeamID=&VsConference=&VsDivision=&VsTeamID=&YearsExperience=
  response:
    body:
      string: '{"resource":"playergamestreakfinder","parameters":{"MinGames":null,"ActiveStreaksOnly":null,"LeagueID":"00","Season":null,"SeasonType":null,"TeamID":null,"VsTeamID":null,"PlayerID":null,"GameID":null,"Outcome":null,"Location":null,"DateFrom":null,"DateTo":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"DraftYear":null,"DraftNumber":null,"DraftRound":null,"DraftTeamID":null,"RookieYear":null,"YearsExperience":null,"SeasonSegment":null,"PORound":null,"StarterBench":null,"GtPTS":null,"GtREB":null,"GtAST":null,"GtSTL":null,"GtBLK":null,"GtOREB":null,"GtDREB":null,"GtDD":null,"GtTD":null,"GtMINUTES":null,"GtTOV":null,"GtPF":null,"GtFGM":null,"GtFGA":null,"GtFG_PCT":null,"GtFTM":null,"GtFTA":null,"GtFT_PCT":null,"GtFG3M":null,"GtFG3A":null,"GtFG3_PCT":null,"LtPTS":null,"LtREB":null,"LtAST":null,"LtSTL":null,"LtBLK":null,"LtOREB":null,"LtDREB":null,"LtDD":null,"LtTD":null,"LtMINUTES":null,"LtTOV":null,"LtPF":null,"LtFGM":null,"LtFGA":null,"LtFG_PCT":null,"LtFTM":null,"LtFTA":null,"LtFT_PCT":null,"LtFG3M":null,"LtFG3A":null,"LtFG3_PCT":null,"EqPTS":null,"EqREB":null,"EqAST":null,"EqSTL":null,"EqBLK":null,"EqOREB":null,"EqDREB":null,"EqDD":null,"EqTD":null,"EqMINUTES":null,"EqTOV":null,"EqPF":null,"EqFGM":null,"EqFGA":null,"EqFG_PCT":null,"EqFTM":null,"EqFTA":null,"EqFT_PCT":null,"EqFG3M":null,"EqFG3A":null,"EqFG3_PCT":null},"resultSets":[{"name":"PlayerGameStreakFinderResults","headers":["PLAYER_NAME_LAST_FIRST","PLAYER_ID","GAMESTREAK","STARTDATE","ENDDATE","ACTIVESTREAK","NUMSEASONS","LASTSEASON","FIRSTSEASON"],"rowSet":[["James,
        LeBron",2544,1599,"2003-10-29T00:00:00","2026-02-20T00:00:00",1,23,"2025-26","2003-04"],["Carter,
        Vince",1713,1541,"1999-02-05T00:00:00","2020-03-11T00:00:00",1,22,"2019-20","1998-99"],["Nowitzki,
        Dirk",1717,1522,"1999-02-05T00:00:00","2019-04-10T00:00:00",1,21,"2018-19","1998-99"],["Stockton,
        John",304,1504,"1984-10-26T00:00:00","2003-04-16T00:00:00",1,19,"2002-03","1984-85"],["Malone,
        Karl",252,1476,"1985-10-25T00:00:00","2004-04-14T00:00:00",1[...]
