interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashptpass?DateFrom=&DateTo=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"teamdashptpass\",\"parameters\":{\"PerMode\":\"Totals\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"TeamID\":1610612739,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"PassesMade\",\"headers\":[\"TEAM_ID\",\"TEAM_NAME\",\"PASS_TYPE\",\"G\",\"PASS_FROM\",\"PASS_TEAMMATE_PLAYER_ID\",\"FREQUENCY\",\"PASS\",\"AST\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG2M\",\"FG2A\",\"FG2_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\"],\"rowSet\":[[1610612739,\"Cleveland
        Cavaliers\",\"made\",53,\"Mitchell, Donovan\",1628378,0.141,2330,311,356,809,0.44,226,446,0.507,130,363,0.358],[1610612739,\"Cleveland
        Cavaliers\",\"made\",43,\"Mobley, Evan\",1630596,0.125,2073,171,260,612,0.425,152,315,0.483,108,297,0.364],[1610612739,\"Cleveland
        Cavaliers\",\"made\",52,\"Tyson, Jaylon\",1642281,0.087,1441,117,183,424,0.432,111,227,0.489,72,197,0.365],[1610612739,\"Cleveland
        Cavaliers\",\"made\",50,\"Porter Jr., Craig\",[...]
