interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashplayerbiostats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&PlayerExperience=&PlayerPosition=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashplayerbiostats\",\"parameters\":{\"PerMode\":\"Totals\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"Outcome\":null,\"Location\":null,\"Month\":null,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":null,\"VsConference\":null,\"VsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":null,\"ShotClockRange\":null,\"LastNGames\":null,\"GameScope\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"StarterBench\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"ISTRound\":null},\"resultSets\":[{\"name\":\"LeagueDashPlayerBioStats\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"AGE\",\"PLAYER_HEIGHT\",\"PLAYER_HEIGHT_INCHES\",\"PLAYER_WEIGHT\",\"COLLEGE\",\"COUNTRY\",\"DRAFT_YEAR\",\"DRAFT_ROUND\",\"DRAFT_NUMBER\",\"GP\",\"PTS\",\"REB\",\"AST\",\"NET_RATING\",\"OREB_PCT\",\"DREB_PCT\",\"USG_PCT\",\"TS_PCT\",\"AST_PCT\"],\"rowSet\":[[1630639,\"A.J.
        Lawson\",1610612761,\"TOR\",25.0,\"6-6\",78,\"179\",\"South Carolina\",\"Canada\",\"Undrafted\",\"Undrafted\",\"Undrafted\",13,49,23,3,-14.4,0.056,0.16,0.186,0.545,0.045],[1631260,\"AJ
        Green\",1610612749,\"MIL\",26.0,\"6-4\",76,\"190\",\"Northern Iowa\",\"USA\",\"Undrafted\",\"Undrafted\",\"Undrafted\",50,522,130,103,0.5,0.008,0.076,0.127,0.637,0.089],[1642358,\"AJ
        Johnson\",1610612742,\"DAL\",21.0,\"6-5\",77,\"160\",\"None\",\"USA\",\"2024\",\"1\",\"23\"[...]
