interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/homepagev2?GameScope=Season&LeagueID=00&PlayerOrTeam=Team&PlayerScope=All+Players&Season=2025-26&SeasonType=Regular+Season&StatType=Traditional
  response:
    body:
      string: '{"resource":"homepagev2","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","GameScope":"Season","PlayerScope":"All Players","PlayerOrTeam":"Team","StatType":"Traditional"},"resultSets":[{"name":"HomePageStat1","headers":["RANK","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","PTS"],"rowSet":[[1,1610612743,"DEN","Denver
        Nuggets",120.9],[2,1610612748,"MIA","Miami Heat",120.0],[3,1610612739,"CLE","Cleveland
        Cavaliers",119.8],[4,1610612750,"MIN","Minnesota Timberwolves",119.7],[5,1610612760,"OKC","Oklahoma
        City Thunder",119.4]]},{"name":"HomePageStat2","headers":["RANK","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","REB"],"rowSet":[[1,1610612745,"HOU","Houston
        Rockets",48.5],[2,1610612748,"MIA","Miami Heat",47.2],[3,1610612759,"SAS","San
        Antonio Spur[...]
