interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashteamptshot?CloseDefDistRange=&Conference=&DateFrom=&DateTo=&Division=&DribbleRange=&GameSegment=&GeneralRange=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&ShotDistRange=&TeamID=&TouchTimeRange=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashteamptshot","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PORound":null,"CloseDefDistRange":null,"ShotClockRange":null,"ShotDistRange":null,"TouchTimeRange":null,"DribbleRange":null,"GeneralRange":null,"TeamID":null,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"GameSegment":null,"Period":null,"LastNGames":null,"ISTRound":null},"resultSets":[{"name":"LeagueDashPTShots","headers":["TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","GP","G","FGA_FREQUENCY","FGM","FGA","FG_PCT","EFG_PCT","FG2A_FREQUENCY","FG2M","FG2A","FG2_PCT","FG3A_FREQUENCY","FG3M","FG3A","FG3_PCT"],"rowSet":[[1610612748,"Miami
        Heat","MIA",57,57,1.0,2479,5360,0.463,0.534,0.604,1714,3238,0.529,0.396,765,2122,0.361],[1610612737,"Atlanta
        Hawks","ATL",58,58,1.0,2494,5314,0.469,0.548,0.574,1657,3048,0.544,0.426,837,2266,0.369],[1610612739,"Cleveland
        Cavaliers","CLE",57,57,1.0,2482,5198,0.477,0.557,0.555,1651,2885,0.572,0.445,831,2313,0.359],[1610612740,"New
        Orleans Pelicans","NOP",57,57,1.0,2398,5175,0.463,0.524,0.645,1768,3337,0.53,0.355,630,1838,0.343],[1610612757,"Portl[...]
