interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/drafthistory?College=&LeagueID=00&OverallPick=&RoundNum=&RoundPick=&Season=&TeamID=&TopX=
  response:
    body:
      string: "{\"resource\":\"drafthistory\",\"parameters\":{\"LeagueID\":\"00\",\"Season\":null,\"TeamID\":null,\"RoundNum\":null,\"RoundPick\":null,\"OverallPick\":null,\"TopX\":null,\"College\":null},\"resultSets\":[{\"name\":\"DraftHistory\",\"headers\":[\"PERSON_ID\",\"PLAYER_NAME\",\"SEASON\",\"ROUND_NUMBER\",\"ROUND_PICK\",\"OVERALL_PICK\",\"DRAFT_TYPE\",\"TEAM_ID\",\"TEAM_CITY\",\"TEAM_NAME\",\"TEAM_ABBREVIATION\",\"ORGANIZATION\",\"ORGANIZATION_TYPE\",\"PLAYER_PROFILE_FLAG\"],\"rowSet\":[[1642843,\"Cooper
        Flagg\",\"2025\",1,1,1,\"Draft\",1610612742,\"Dallas\",\"Mavericks\",\"DAL\",\"Duke\",\"College/University\",1],[1642844,\"Dylan
        Harper\",\"2025\",1,2,2,\"Draft\",1610612759,\"San Antonio\",\"Spurs\",\"SAS\",\"Rutgers\",\"College/University\",1],[1642845,\"VJ
        Edgecombe\",\"2025\",1,3,3,\"Draft\",1610612755,\"Philadelphia\",\"76ers\",\"PHI\",\"Baylor\",\"College/University\",1],[1642851,\"Kon
        Knueppel\",\"2025\",1,4,4,\"Draft\",1610612766,\"Charl[...]
