interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/commonplayerinfo?LeagueID=00&PlayerID=1628378
  response:
    body:
      string: '{"resource":"commonplayerinfo","parameters":[{"PlayerID":1628378},{"LeagueID":"00"}],"resultSets":[{"name":"CommonPlayerInfo","headers":["PERSON_ID","FIRST_NAME","LAST_NAME","DISPLAY_FIRST_LAST","DISPLAY_LAST_COMMA_FIRST","DISPLAY_FI_LAST","PLAYER_SLUG","BIRTHDATE","SCHOOL","COUNTRY","LAST_AFFILIATION","HEIGHT","WEIGHT","SEASON_EXP","JERSEY","POSITION","ROSTERSTATUS","GAMES_PLAYED_CURRENT_SEASON_FLAG","TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","FROM_YEAR","TO_YEAR","DLEAGUE_FLAG","NBA_FLAG","GAMES_PLAYED_FLAG","DRAFT_YEAR","DRAFT_ROUND","DRAFT_NUMBER","GREATEST_75_FLAG"],"rowSet":[[1628378,"Donovan","Mitchell","Donovan
        Mitchell","Mitchell, Donovan","D. Mitchell","donovan-mitchell","1996-09-07T00:00:00","Louisville","USA","Louisville/USA","6-2","215",8,"45","Guard","Active","Y",1610612739,"Cavaliers","CLE","cavaliers","Cleveland","donovan_mitchell",2017,2025,"N","Y","Y","2017","1","13","N"]]},{"name":"PlayerHeadlineStats","headers":["PLAYER_ID","PLAYER_NAME","TimeFrame","PTS","AST","REB","PIE"],"rowSet":[[1628378,"Donovan
        Mitchell","2025-26",28.8,5.9,4.4,0]]},{"name":"AvailableSeasons","headers":["SEASON_ID"],"rowSet":[["12017"],["22017"],["42017"],["12018"],["22018"],["42018"],["12019"],["22019"],["32019"],["42019"],["12020"],["22020"],["32020"],["42020"],["12021"],["22021"],["42021"],["12022"],["22022"],["32022"],["42022"],["12023"],["22023"],["32023"],["42023"],["12024"],["22024"],["32024"],["42024"],["12025"],["22025"],["32025"]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      vha6-origin:
      - varnish-2
      x-datasource:
      - S3
      x-full-ttl:
      - '900.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '149.397'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
