interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/franchiseplayers?LeagueID=00&PerMode=Totals&SeasonType=Regular+Season&TeamID=1610612739
  response:
    body:
      string: "{\"resource\":\"franchiseplayers\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonType\":\"Regular
        Season\",\"TeamID\":1610612739,\"PerMode\":\"Totals\"},\"resultSets\":[{\"name\":\"FranchisePlayers\",\"headers\":[\"LEAGUE_ID\",\"TEAM_ID\",\"TEAM\",\"PERSON_ID\",\"PLAYER\",\"SEASON_TYPE\",\"ACTIVE_WITH_TEAM\",\"GP\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"PF\",\"STL\",\"TOV\",\"BLK\",\"PTS\"],\"rowSet\":[[\"00\",1610612739,\"Cleveland
        Cavaliers\",36,\"Sarunas Marciulionis\",\"Regular Season\",0,1,3,9,0.333,1,3,0.333,0,0,0.0,2,2,4,2,3,0,2,0,7],[\"00\",1610612739,\"Cleveland
        Cavaliers\",73,\"Hot Rod Williams\",\"Regular Season\",0,661,3198,6633,0.482,2,16,0.125,2106,2884,0.73,1620,3049,4669,1366,1720,587,1038,1200,8504],[\"00\",1610612739,\"Cleveland
        Cavaliers\",95,\"Mark Bryant\",\"Regular Season\",0,75,174,346,0.503,0,0,0.0,76,94,0.809,126,226,352,61,250,31,87,31,424],[\[...]
