interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/videoevents?GameEventID=0&GameID=0022200552
  response:
    body:
      string: '{"resource":"videoevents","parameters":{"GameID":"0022200552","GameEventID":0},"resultSets":{"Meta":{"videoUrls":[]},"playlist":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      vha6-origin:
      - varnish-0
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '383.414'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
