interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/cumestatsteam?GameIDs=0022200552&LeagueID=00&Season=2025-26&SeasonType=Regular+Season&TeamID=1610612739
  response:
    body:
      string: '{"resource":"cumestatsteam","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":1610612739,"GameIDs":"0022200552"},"resultSets":[{"name":"GameByGameStats","headers":["JERSEY_NUM","PLAYER","PERSON_ID","TEAM_ID","GP","GS","ACTUAL_MINUTES","ACTUAL_SECONDS","FG","FGA","FG_PCT","FG3","FG3A","FG3_PCT","FT","FTA","FT_PCT","OFF_REB","DEF_REB","TOT_REB","AST","PF","DQ","STL","TURNOVERS","BLK","PTS","MAX_ACTUAL_MINUTES","MAX_ACTUAL_SECONDS","MAX_REB","MAX_AST","MAX_STL","MAX_TURNOVERS","MAX_BLKP","MAX_PTS","AVG_ACTUAL_MINUTES","AVG_ACTUAL_SECONDS","AVG_REB","AVG_AST","AVG_STL","AVG_TURNOVERS","AVG_BLKP","AVG_PTS","PER_MIN_REB","PER_MIN_AST","PER_MIN_STL","PER_MIN_TURNOVERS","PER_MIN_BLK","PER_MIN_PTS"],"rowSet":[["45","Mitchell,
        D",1628378,1610612739,1,1,49,48,22,34,0.647,7,15,0.467,20,25,0.8,3,5,8,11,3,0,0,4,1,71,49,48,8,11,0,4,1,71,49,48.0,8.0,11.0,0.0,4.0,1.0,71.0,7.7,10.6,0.0,3.9,0.96,68.4],["31","Allen,
        J",1628386,1610612739,1,1,38,35,9,10,0.9,0,0,0.0,3,6,0.5,6,2,8,2,4,0,0,1,1,21,38,35,8,2,0,1,1,21,38,35.0,8.0,2.0,0.0,1.0,1.0,21.0,10.0,2.5,0.0,1.2,1.24,26.1],["","Osman,
        C",1626224,1610612739,1,0,36,15,6,13,0.462,4,11,0.364,3,4,0.75,0,3,3,4,3,0,0,1,0,19,36,15,3,4,0,1,0,19,36[...]
