interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguestandings?LeagueID=00&Season=2025-26&SeasonType=Regular+Season&SeasonYear=
  response:
    body:
      string: '{"resource":"leaguestandings","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season"},"resultSets":[{"name":"Standings","headers":["LeagueID","SeasonID","TeamID","TeamCity","TeamName","Conference","ConferenceRecord","PlayoffRank","ClinchIndicator","Division","DivisionRecord","DivisionRank","WINS","LOSSES","WinPCT","LeagueRank","Record","HOME","ROAD","L10","Last10Home","Last10Road","OT","ThreePTSOrLess","TenPTSOrMore","LongHomeStreak","strLongHomeStreak","LongRoadStreak","strLongRoadStreak","LongWinStreak","LongLossStreak","CurrentHomeStreak","strCurrentHomeStreak","CurrentRoadStreak","strCurrentRoadStreak","CurrentStreak","strCurrentStreak","ConferenceGamesBack","DivisionGamesBack","ClinchedConferenceTitle","ClinchedDivisionTitle","ClinchedPlayoffBirth","EliminatedConference","EliminatedDivision","AheadAtHalf","BehindAtHalf","TiedAtHalf","AheadAtThird","BehindAtThird","TiedAtThird","Score100PTS","OppScore100PTS","OppOver500","LeadInFGPCT","LeadInReb","FewerTurnovers","PointsPG","OppPointsPG","DiffPointsPG","vsEast","vsAtlantic","vsCentral","vsSoutheast","vsWest","vsNorthwest","vsPacific","vsSouthwest","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec","PreAS","PostAS"],"rowSet":[["00","22025",1610612760,"Oklahoma
        City","Thunder","West","32-9",1,"","Northwest","8-3",1,43,14,0.754,1,"43-14","23-6","20-7","6-4","6-4","7-3","3-0","2-6","32-6",14,"W
        14",8,"W 8",16,2,1,"W 1",2,"W 2",1,"W 1",0.0,0.0,null,null,null,null,null,"34-7","9-7","0-0","39-3","4-10","0-1","43-12","30-14","20-11","36-6","21-3","39-8",119.0,108.0,12.0,"11-5","2-1","3-2","6-2","32-9","8-3","13-1","11-5","9-6","5-3",null,null,null,null,null,null,null,"6-0","14-1","9-4","43-14",null],["00","[...]
