interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playervsplayer?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerID=1628378&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&VsConference=&VsDivision=&VsPlayerID=1630596
  response:
    body:
      string: '{"resource":"playervsplayer","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"VsPlayerID":1630596},"resultSets":[{"name":"Overall","headers":["GROUP_SET","GROUP_VALUE","PLAYER_ID","PLAYER_NAME","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","NBA_FANTASY_PTS"],"rowSet":[["Overall","Donovan
        Mitchell",1628378,"Donovan Mitchell",53,34,19,0.642,1773.5783333333334,532,1094,0.486,189,503,0.376,274,320,0.856,41,194,235,311,164,81,15,33,130,249,1527,337,2399.5],["Overall","Evan
        Mobley",1630596,"Evan Mobley",43,26,17,0.605,1420.2666666666667,296,577,0.513,48,159,0.302,122,192,0.635,98,279,377,172,90,38,83,32,107,143,762,165,1745.4]]},{"name":"OnOffCourt","headers":["GROUP_SET","PLAYER_ID","PLAYER_NAME","VS_PLAYER_ID","VS_PLAYER_NAME","COURT_STATUS","GP"[...]
