interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/synergyplaytypes?LeagueID=00&PerMode=Totals&PlayType=&PlayerOrTeam=T&SeasonType=Regular+Season&SeasonYear=2025-26&TypeGrouping=
  response:
    body:
      string: '{"resource":"synergyplaytype","parameters":{"LeagueID":"00","SeasonYear":"2025-26","SeasonType":"Regular
        Season","PerMode":"Totals","PlayerOrTeam":"T","PlayType":null,"TypeGrouping":null},"resultSets":[{"name":"SynergyPlayType","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","PLAY_TYPE","TYPE_GROUPING","PERCENTILE","GP","POSS_PCT","PPP","FG_PCT","FT_POSS_PCT","TOV_POSS_PCT","SF_POSS_PCT","PLUSONE_POSS_PCT","SCORE_POSS_PCT","EFG_PCT","POSS","PTS","FGM","FGA","FGMX"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '300.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '-1115.751'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
