interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leagueseasonmatchups?DefPlayerID=1630596&LeagueID=00&OffPlayerID=1628378&PerMode=Totals&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"leagueseasonmatchups","parameters":{"LeagueID":"00","SeasonYear":"2025-26","SeasonType":"Regular
        Season","PORound":null,"PerMode":"Totals","DefTeamID":null,"OffTeamID":null,"OffPlayerID":1628378,"DefPlayerID":1630596},"resultSets":[{"name":"SeasonMatchups","headers":["SEASON_ID","OFF_PLAYER_ID","OFF_PLAYER_NAME","DEF_PLAYER_ID","DEF_PLAYER_NAME","GP","MATCHUP_MIN","PARTIAL_POSS","PLAYER_PTS","TEAM_PTS","MATCHUP_AST","MATCHUP_TOV","MATCHUP_BLK","MATCHUP_FGM","MATCHUP_FGA","MATCHUP_FG_PCT","MATCHUP_FG3M","MATCHUP_FG3A","MATCHUP_FG3_PCT","HELP_BLK","HELP_FGM","HELP_FGA","HELP_FG_PERC","MATCHUP_FTM","MATCHUP_FTA","SFL","MATCHUP_TIME_SEC"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '369.301'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
