interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/fantasywidget?ActivePlayers=N&DateFrom=&DateTo=&LastNGames=0&LeagueID=00&Location=&Month=&OpponentTeamID=&PORound=&PlayerID=&Position=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=&TodaysOpponent=0&TodaysPlayers=N&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"fantasywidget\",\"parameters\":{\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"TodaysPlayers\":\"N\",\"ActivePlayers\":\"N\",\"LastNGames\":0,\"TeamID\":0,\"PlayerID\":0,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"Position\":null,\"TodaysOpponent\":0,\"PORound\":0},\"resultSets\":[{\"name\":\"FantasyWidgetResult\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"PLAYER_POSITION\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"GP\",\"MIN\",\"FAN_DUEL_PTS\",\"NBA_FANTASY_PTS\",\"PTS\",\"REB\",\"AST\",\"BLK\",\"STL\",\"TOV\",\"FG3M\",\"FGA\",\"FG_PCT\",\"FTA\",\"FT_PCT\"],\"rowSet\":[[203999,\"Nikola
        Joki\u0107\",\"C\",1610612743,\"DEN\",41,34.2,59.7,61.8,28.6,12.3,10.5,0.73,1.39,3.7,1.9,17.1,0.586,7.9,0.833],[1629029,\"Luka
        Don\u010Di\u0107\",\"F-G\",1610612747,\"LAL\",43,35.6,54.9,56.9,33.0,7.8,8.6,0.47,1.49,4.2,3.7,22.0,0.473,10.9,0.779],[1628983,\"Shai
        Gilgeous-Alexander\",\"G\",1610612760,\"OKC\",49,33.3,48.8,50.9,31.8,4.4,6.4,0.78,1.31,2.1,1.8,19.7,0.554,9.2,0.892],[1630552,\"Jalen
        Johnson\",\"F\",1610612737,\"ATL\",52,35.7,48.7,50.5,23[...]
