interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/draftcombinestats?LeagueID=00&SeasonYear=2025-26
  response:
    body:
      string: "{\"resource\":\"draftcombinestats\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025-26\"},\"resultSets\":[{\"name\":\"DraftCombineStats\",\"headers\":[\"SEASON\",\"PLAYER_ID\",\"FIRST_NAME\",\"LAST_NAME\",\"PLAYER_NAME\",\"POSITION\",\"HEIGHT_WO_SHOES\",\"HEIGHT_WO_SHOES_FT_IN\",\"HEIGHT_W_SHOES\",\"HEIGHT_W_SHOES_FT_IN\",\"WEIGHT\",\"WINGSPAN\",\"WINGSPAN_FT_IN\",\"STANDING_REACH\",\"STANDING_REACH_FT_IN\",\"BODY_FAT_PCT\",\"HAND_LENGTH\",\"HAND_WIDTH\",\"STANDING_VERTICAL_LEAP\",\"MAX_VERTICAL_LEAP\",\"LANE_AGILITY_TIME\",\"MODIFIED_LANE_AGILITY_TIME\",\"THREE_QUARTER_SPRINT\",\"BENCH_PRESS\",\"SPOT_FIFTEEN_CORNER_LEFT\",\"SPOT_FIFTEEN_BREAK_LEFT\",\"SPOT_FIFTEEN_TOP_KEY\",\"SPOT_FIFTEEN_BREAK_RIGHT\",\"SPOT_FIFTEEN_CORNER_RIGHT\",\"SPOT_COLLEGE_CORNER_LEFT\",\"SPOT_COLLEGE_BREAK_LEFT\",\"SPOT_COLLEGE_TOP_KEY\",\"SPOT_COLLEGE_BREAK_RIGHT\",\"SPOT_COLLEGE_CORNER_RIGHT\",\"SPOT_NBA_CORNER_LEFT\",\"SPOT_NBA_BREAK_LEFT\",\"SPOT_NBA_TOP_KEY\",\"SPOT_NBA_BREAK_RIGHT\",\"SPOT_NBA_CORNER_RIGHT\",\"OFF_DRIB_FIFTEEN_BREAK_LEFT\",\"OFF_DRIB_FIFTEEN_TOP_KEY\",\"OFF_DRIB_FIFTEEN_BREAK_RIGHT\",\"OFF_DRIB_COLLEGE_BREAK_LEFT\",\"OFF_DRIB_COLLEGE_TOP_KEY\",\"OFF_DRIB_COLLEGE_BREAK_RIGHT\",\"ON_MOVE_FIFTEEN\",\"ON_MOVE_COLLEGE\"],\"rowSet\":[[\"2025\",1641891,\"Izan\",\"Almansa\",\"Izan
        Almansa\",\"C\",81.25,\"6' 9.25''\",null,null,\"220.40\",85.75,\"7' 1.75''\",109.5,\"9'
        1.50''\",null,9.25,9.5,28.0,34.0,11.46,2.93,3.33,null,null,null,null,null,null,\"12-25\",null,null,null,null,null,null,null,null,null,null,null,null,\"13-30\",null,null,null,\"8-25\"],[\"2025\",1642921,\"Neoklis\",\"Avdalas\",\"Neoklis
        Avdalas\",\"SF\",79.5,\"6' 7.50''\",null,null,\"197.80\",81.0,\"6' 9.00''\",104.5,\"8'
        8.50''\",n[...]
