interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerprofilev2?LeagueID=00&PerMode=Totals&PlayerID=1628378
  response:
    body:
      string: '{"resource":"playercareerstats","parameters":{"PerMode":"Totals","PlayerID":1628378,"LeagueID":"00"},"resultSets":[{"name":"SeasonTotalsRegularSeason","headers":["PLAYER_ID","SEASON_ID","LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","PLAYER_AGE","GP","GS","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[1628378,"2017-18","00",1610612762,"UTA",21.0,79,71,2638,595,1362,0.437,187,550,0.34,239,297,0.805,52,244,296,291,118,27,215,213,1616],[1628378,"2018-19","00",1610612762,"UTA",22.0,77,77,2598,661,1530,0.432,188,519,0.362,319,396,0.806,59,257,316,322,106,31,218,208,1829],[1628378,"2019-20","00",1610612762,"UTA",23.0,69,69,2364,602,1342,0.449,173,473,0.366,278,322,0.863,53,251,304,294,70,14,184,172,1655],[1628378,"2020-21","00",1610612762,"UTA",24.0,53,53,1771,478,1091,0.438,178,461,0.386,267,316[...]
