interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashptshots?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Period=0&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"teamdashptshots","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":1610612739,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null},"resultSets":[{"name":"GeneralShooting","headers":["TEAM_ID","TEAM_NAME","SORT_ORDER","G","SHOT_TYPE","FGA_FREQUENCY","FGM","FGA","FG_PCT","EFG_PCT","FG2A_FREQUENCY","FG2M","FG2A","FG2_PCT","FG3A_FREQUENCY","FG3M","FG3A","FG3_PCT"],"rowSet":[[1610612739,"Cleveland
        Cavaliers",2,57,"Catch and Shoot",0.326,619,1694,0.365,0.537,0.021,37,107,0.346,0.305,582,1587,0.367],[1610612739,"Cleveland
        Cavaliers",3,57,"Pullups",0.244,498,1266,0.393,0.489,0.107,256,555,0.461,0.137,242,711,0.34],[1610612739,"Cleveland
        Cavaliers",1,57,"Totals",1.0,2482,5198,0.477,0.557,0.555,1651,2885,0.572,0.445,831,2313,0.359],[1610612739,"Cleveland
        Cavaliers",4,57,"Less than 10 ft",0.427,1355,2218,0.611,0.611,0.427,1355,2218,0.611,0[...]
