interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/draftcombinedrillresults?LeagueID=00&SeasonYear=2025
  response:
    body:
      string: "{\"resource\":\"draftcombinedrillresults\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025\"},\"resultSets\":[{\"name\":\"Results\",\"headers\":[\"TEMP_PLAYER_ID\",\"PLAYER_ID\",\"FIRST_NAME\",\"LAST_NAME\",\"PLAYER_NAME\",\"POSITION\",\"STANDING_VERTICAL_LEAP\",\"MAX_VERTICAL_LEAP\",\"LANE_AGILITY_TIME\",\"MODIFIED_LANE_AGILITY_TIME\",\"THREE_QUARTER_SPRINT\",\"BENCH_PRESS\"],\"rowSet\":[[1641891,1641891,\"Izan\",\"Almansa\",\"Izan
        Almansa\",\"C\",28.0,34.0,11.46,2.93,3.33,null],[1642921,1642921,\"Neoklis\",\"Avdalas\",\"Neoklis
        Avdalas\",\"SF\",27.0,33.5,10.98,2.98,3.24,null],[1642846,1642846,\"Ace\",\"Bailey\",\"Ace
        Bailey\",\"SF-PF\",27.5,34.5,10.97,2.78,3.12,null],[1642926,1642926,\"Tamar\",\"Bates\",\"Tamar
        Bates\",\"SG\",27.5,33.5,10.75,2.99,3.26,null],[1642866,1642866,\"Joan\",\"Beringer\",\"Joan
        Beringer\",\"C\",28.5,32.5,11.44,2.[...]
