interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/shotchartlineupdetail?ContextFilter=&ContextMeasure=PTS&DateFrom=&DateTo=&GROUP_ID=-202689-203493-203501-1626174-1627827-&GameID=&GameSegment=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&Period=0&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"shotchartlineupdetail","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":null,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":null,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":null,"GameID":null,"GroupID":"-202689-203493-203501-1626174-1627827-","ContextFilter":null,"ContextMeasure":"PTS"},"resultSets":[{"name":"ShotChartLineupDetail","headers":["GRID_TYPE","GAME_ID","GAME_EVENT_ID","GROUP_ID","GROUP_NAME","PLAYER_ID","PLAYER_NAME","TEAM_ID","TEAM_NAME","PERIOD","MINUTES_REMAINING","SECONDS_REMAINING","EVENT_TYPE","ACTION_TYPE","SHOT_TYPE","SHOT_ZONE_BASIC","SHOT_ZONE_AREA","SHOT_ZONE_RANGE","SHOT_DISTANCE","LOC_X","LOC_Y","SHOT_ATTEMPTED_FLAG","SHOT_MADE_FLAG","GAME_DATE","HTM","VTM"],"rowSet":[]},{"name":"ShotChartLineupLeagueAverage","headers":["GRID_TYPE","SHOT_ZONE_BASIC","SHOT_ZONE_AREA","SHOT_ZONE_RANGE","FGA","FGM","FG_PCT"],"rowSet":[["League
        Averages","Above the Break 3","Back Court(BC)","Back Court Shot",3,3,1.0],["League
        Averages","Above the Break 3","Center(C)","24+ ft.",4144,4144,1.0],["League
        Averages","Above the Break 3","Left Side Center(LC)","24+ ft.",6398,6398,1.0],["League
        Averages","Above the Break 3","Right Side Center(RC)","24+ ft.[...]
