interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teaminfocommon?LeagueID=00&Season=&SeasonType=&TeamID=1610612739
  response:
    body:
      string: '{"resource":"teaminfocommon","parameters":{"LeagueID":"00","Season":null,"SeasonType":null,"TeamID":1610612739},"resultSets":[{"name":"TeamInfoCommon","headers":["TEAM_ID","SEASON_YEAR","TEAM_CITY","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CONFERENCE","TEAM_DIVISION","TEAM_CODE","TEAM_SLUG","W","L","PCT","CONF_RANK","DIV_RANK","MIN_YEAR","MAX_YEAR"],"rowSet":[[1610612739,"2025-26","Cleveland","Cavaliers","CLE","East","Central","cavaliers","cavaliers",36,21,0.632,3,2,"1970","2025"]]},{"name":"TeamSeasonRanks","headers":["LEAGUE_ID","SEASON_ID","TEAM_ID","PTS_RANK","PTS_PG","REB_RANK","REB_PG","AST_RANK","AST_PG","OPP_PTS_RANK","OPP_PTS_PG"],"rowSet":[["00","22025",1610612739,2,119.8,12,44.7,8,28.5,16,115.3]]},{"name":"AvailableSeasons","headers":["SEASON_ID"],"rowSet":[["21970"],["21971"],["21972"],["21973"],["21974"],["21975"],["41975"],["21976"],["[...]
