interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playernextngames?LeagueID=00&NumberOfGames=2147483647&PlayerID=1628378&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"playernextngames","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"NumberOfGames":2147483647},"resultSets":[{"name":"NextNGames","headers":["GAME_ID","GAME_DATE","HOME_TEAM_ID","VISITOR_TEAM_ID","HOME_TEAM_NAME","VISITOR_TEAM_NAME","HOME_TEAM_ABBREVIATION","VISITOR_TEAM_ABBREVIATION","HOME_TEAM_NICKNAME","VISITOR_TEAM_NICKNAME","GAME_TIME","HOME_WL","VISITOR_WL"],"rowSet":[["0022500817","FEB
        22, 2026",1610612760,1610612739,"Oklahoma City","Cleveland","OKC","CLE","Thunder","Cavaliers","01:00
        PM","43-14","36-21"],["0022500835","FEB 24, 2026",1610612739,1610612752,"Cleveland","New
        York","CLE","NYK","Cavaliers","Knicks","07:30 PM","36-21","36-21"],["0022500846","FEB
        25, 2026",1610612749,1610612739,"Milwaukee","Cleveland","MIL","CLE","Bucks","Cavaliers","08:00
        PM","24-30","36-21"],["0022500858","FEB 27, 2026",1610612765,16106127[...]
