interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscorematchupsv3?GameID=0022200552
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscorematchups?Format=json\",\"time\":\"2026-02-22T05:12:42.1242Z\"},\"boxScoreMatchups\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"matchups\":[{\"personId\":1627936,\"firstName\":\"Alex\",\"familyName\":\"Caruso\",\"nameI\":\"A.
        Caruso\",\"playerSlug\":\"alex-caruso\",\"jerseyNum\":\"6\",\"statistics\":{\"matchupMinutes\":\"0:08\",\"matchupMinutesSort\":8.4,\"partialPossessions\":0.9,\"percentageDefenderTotalTime\":0.014,\"percentageOffensiveTotalTime\":0.018,\"percentageTotalTimeBothOn\":0.09,\"switchesOn\":0,\"playerPoints\":0,\"teamPoints\":0,\"matchupAssists\":0,\"matchupPotentialAssists\":0,\"matchupTurnovers\":0,\"matchupBlocks\":0,\"matchupFieldGoalsMade\":0,\"matchupFieldGoalsAttempted\":0,\"matchupFieldGoalsPercentage\":0.0,\"matchupThreePointersMade\":0,\"matchupThreePointersAttempted\":0,\"matchupThreePointersPercentage\":0.0,\"helpBlocks\":0,\"helpFieldGoalsMade\":0,\"helpFieldGoalsAttempted\":0,\"helpFieldGoalsPercentage\":0.0,\"matchupFreeThrowsMade\":0,\"matchupFreeThrowsAttempted\":0,\"shootingFouls\":0}},{\"personId\":201942,\"firstName\":\"DeMar\",\"familyName\":\"DeRozan\",\"nameI\":\"D.
        DeRozan\",\"playerSlug\":\"demar-derozan\",\"jerseyNum\":\"11\",\"statistics\":{\"matchupMinutes\":\"3:43\",\"matchupMinutesSort\":222.6,\"partialPossessions\":16.8,\"percentageDefenderTotalTime\":0.199,\"percentageOffensiveTotalTime\":0.466,\"percentageTotalTimeBothOn\":0.581,\"switchesOn\":0,\"playerPoints\":2,\"teamPoints\":14,\"matchupAssists\":1,\"matchupPotentialAssists\":0,\"matchupTurnovers[...]
