interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguelineupviz?Conference=&DateFrom=&DateTo=&Division=&GameSegment=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&MinutesMin=10&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"leaguelineupviz\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"GroupQuantity\":5,\"MinutesMin\":10},\"resultSets\":[{\"name\":\"LeagueLineupViz\",\"headers\":[\"GROUP_ID\",\"GROUP_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"MIN\",\"OFF_RATING\",\"DEF_RATING\",\"NET_RATING\",\"PACE\",\"TS_PCT\",\"FTA_RATE\",\"TM_AST_PCT\",\"PCT_FGA_2PT\",\"PCT_FGA_3PT\",\"PCT_PTS_2PT_MR\",\"PCT_PTS_FB\",\"PCT_PTS_FT\",\"PCT_PTS_PAINT\",\"PCT_AST_FGM\",\"PCT_UAST_FGM\",\"OPP_FG3_PCT\",\"OPP_EFG_PCT\",\"OPP_FTA_RATE\",\"OPP_TOV_PCT\",\"SUM_TM_MIN\"],\"rowSet\":[[\"-203497-203944-1628978-1630162-1630183-\",\"R.
        Gobert - J. Randle - D. DiVincenzo - A. Edwards - J. McDaniels\",1610612750,\"MIN\",572.1,121.1,111.7,9.4,102.27,0.624,0.269,0.609,0.579,0.421,0.061,0.134,0.144,0.423,0.609,0.391,0.362,0.531,0.198,0.134,572.116667],[\"-202699-1629130-1630595-1631105-1641709-\",\"T.
        Harris - D. Robinson - C. Cunningham - J. Duren - A. Thompson\",1610612765,\"DET\",396.1,120.9,107.5,13.4,102.22,0.587,0.263,0.635,0.715,0.285,0.043,0.164,0.144,0.553,[...]
