interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/franchiseleaders?LeagueID=00&TeamID=1610612739
  response:
    body:
      string: '{"resource":"franchiseleaders","parameters":{"LeagueID":"00","TeamID":1610612739},"resultSets":[{"name":"FranchiseLeaders","headers":["TEAM_ID","PTS","PTS_PERSON_ID","PTS_PLAYER","AST","AST_PERSON_ID","AST_PLAYER","REB","REB_PERSON_ID","REB_PLAYER","BLK","BLK_PERSON_ID","BLK_PLAYER","STL","STL_PERSON_ID","STL_PLAYER"],"rowSet":[[1610612739,23119,2544,"LeBron
        James",6228,2544,"LeBron James",6190,2544,"LeBron James",1269,980,"Zydrunas
        Ilgauskas",1376,2544,"LeBron James"]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '3600.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '2189.469'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
