interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerfantasyprofilebargraph?LeagueID=00&PlayerID=1628378&Season=2025-26&SeasonType=
  response:
    body:
      string: '{"resource":"playerfantasyprofilebargraph","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":null,"PlayerID":1628378},"resultSets":[{"name":"SeasonAvg","headers":["PLAYER_ID","PLAYER_NAME","TEAM_ID","TEAM_ABBREVIATION","FAN_DUEL_PTS","NBA_FANTASY_PTS","PTS","REB","AST","FG3M","FT_PCT","STL","BLK","TOV","FG_PCT"],"rowSet":[]},{"name":"LastFiveGamesAvg","headers":["PLAYER_ID","PLAYER_NAME","TEAM_ID","TEAM_ABBREVIATION","FAN_DUEL_PTS","NBA_FANTASY_PTS","PTS","REB","AST","FG3M","FT_PCT","STL","BLK","TOV","FG_PCT"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      vha6-origin:
      - varnish-2
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '359.697'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
