interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashoppptshot?CloseDefDistRange=&Conference=&DateFrom=&DateTo=&Division=&DribbleRange=&GameSegment=&GeneralRange=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&ShotDistRange=&TeamID=&TouchTimeRange=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashoppptshot","parameters":{"PerMode":"Totals","LeagueID":"00","SeasonYear":"","SeasonType":"Regular
        Season","PORound":null,"CloseDefDistRange":null,"ShotClockRange":null,"ShotDistRange":null,"TouchTimeRange":null,"DribbleRange":null,"GeneralRange":null,"TeamID":null,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"GameSegment":null,"Period":null,"LastNGames":null},"resultSets":[{"name":"LeagueDashPTShots","headers":["TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","GP","G","FGA_FREQUENCY","FGM","FGA","FG_PCT","EFG_PCT","FG2A_FREQUENCY","FG2M","FG2A","FG2_PCT","FG3A_FREQUENCY","FG3M","FG3A","FG3_PCT"],"rowSet":[[1610612748,"Miami
        Heat","MIA",57,57,1.0,2429,5318,0.457,0.531,0.576,1643,3063,0.536,0.424,786,2255,0.349],[1610612737,"Atlanta
        Hawks","ATL",58,58,1.0,2501,5260,0.475,0.549,0.59,1729,3104,0.557,0.41,772,2156,0.358],[1610612740,"New
        Orleans Pelicans","NOP",57,57,1.0,2505,5215,0.48,0.56,0.551,1673,2871,0.583,0.449,832,2344,0.355],[1610612762,"Utah
        Jazz","UTA",57,57,1.0,2538,5203,0.488,0.572,0.545,1658,2835,0.585,0.455,880,2368,0.372],[1610612741,"Chicago
        Bu[...]
