interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leagueplayerondetails?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"leagueplayerondetails\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"TeamID\":1610612739,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"GameSegment\":null,\"Period\":0,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"PlayersOnCourtLeaguePlayerDetails\",\"headers\":[\"GROUP_SET\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"TEAM_NAME\",\"VS_PLAYER_ID\",\"VS_PLAYER_NAME\",\"COURT_STATUS\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"FTM_RANK\",\"FTA_RANK\",\"FT_PCT_RANK\",\"OREB_RANK\",\"DREB_RANK\",\"REB_RANK\",\"AST_RANK\",\"TOV_RANK\",\"STL_RANK\",\"BLK_RANK\",\"BLKA_RANK\",\"PF_RANK\",\"PFD_RANK\",\"PTS_RANK\",\"PLUS_MINUS_RANK\"],\"rowSet\":[[\"On/Off
        Court\",1610612739,\"CLE\",\"Cleveland Cavaliers\",1628386,\"Allen, Jarrett\",\"On\",45,30,15,0.667,1230.958333,1172,2311,0.507,355,919,0.386,479,611,0.784,295,852,1147,770,375.0,216,129,110,456,542,3178,197.0,4,4,11,9,4,4,4,3,4,5,3,4,4,11,4,4,4,4,17,4,4,17,16,4,4,2],[\"On/Off
        Court\",1610612739,\"CLE\",\"Cleveland Cavaliers\",1628366,\"Ball, Lonzo\",\"On\",35,19,16,0.543,727.743333,629,1391,0.452,237,698,0.34,276,350,0.789,169,480,649,425,226.0,150,77,59,285,290,1771,[...]
