interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/cumestatsplayergames?LeagueID=00&Location=&Outcome=&PlayerID=1628378&Season=2025-26&SeasonType=Regular+Season&VsConference=&VsDivision=&VsTeamID=
  response:
    body:
      string: '{"resource":"cumestatsplayergames","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"Location":null,"Outcome":null,"VsTeamID":0,"VsDivision":null,"VsConference":null},"resultSets":[{"name":"CumeStatsPlayerGames","headers":["MATCHUP","GAME_ID"],"rowSet":[["02/20/2026
        Cavaliers at Hornets","0022500802"],["02/19/2026 Nets at Cavaliers","0022500793"],["02/11/2026
        Wizards at Cavaliers","0022500776"],["02/09/2026 Cavaliers at Nuggets","0022500767"],["02/07/2026
        Cavaliers at Kings","0022500756"],["02/04/2026 Cavaliers at Clippers","0022500732"],["02/01/2026
        Cavaliers at Trail Blazers","0022500710"],["01/30/2026 Cavaliers at Suns","0022500693"],["01/28/2026
        Lakers at Cavaliers","0022500671"],["01/26/2026 Magic a[...]
