interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashptreb?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Period=0&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"teamdashptreb","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":1610612739,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null},"resultSets":[{"name":"OverallRebounding","headers":["TEAM_ID","TEAM_NAME","G","OVERALL","REB_FREQUENCY","OREB","DREB","REB","C_OREB","C_DREB","C_REB","C_REB_PCT","UC_OREB","UC_DREB","UC_REB","UC_REB_PCT"],"rowSet":[[1610612739,"Cleveland
        Cavaliers",57,"Overall",1.0,684,1853,2537,365,487,852,0.336,319,1366,1685,0.664]]},{"name":"ShotTypeRebounding","headers":["TEAM_ID","TEAM_NAME","SORT_ORDER","G","SHOT_TYPE_RANGE","REB_FREQUENCY","OREB","DREB","REB","C_OREB","C_DREB","C_REB","C_REB_PCT","UC_OREB","UC_DREB","UC_REB","UC_REB_PCT"],"rowSet":[[1610612739,"Cleveland
        Cavaliers",2,57,"Miss 2FG",0.461,311,858,1169,186,256,442,0.378,125,602,727,0.622],[1610612739,"Cleveland
        Cavaliers",3,57,[...]
