interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playbyplayv3?EndPeriod=0&GameID=0022200552&StartPeriod=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/playbyplay?Format=json\",\"time\":\"2025-04-17T12:29:58.2958Z\"},\"game\":{\"gameId\":\"0022200552\",\"videoAvailable\":1,\"actions\":[{\"actionNumber\":2,\"clock\":\"PT12M00.00S\",\"period\":1,\"teamId\":0,\"teamTricode\":\"\",\"personId\":0,\"playerName\":\"\",\"playerNameI\":\"\",\"xLegacy\":0,\"yLegacy\":0,\"shotDistance\":0,\"shotResult\":\"\",\"isFieldGoal\":0,\"scoreHome\":\"0\",\"scoreAway\":\"0\",\"pointsTotal\":0,\"location\":\"\",\"description\":\"Start
        of 1st Period (7:11 PM EST)\",\"actionType\":\"period\",\"subType\":\"start\",\"videoAvailable\":0,\"shotValue\":0,\"actionId\":1},{\"actionNumber\":4,\"clock\":\"PT12M00.00S\",\"period\":1,\"teamId\":1610612739,\"teamTricode\":\"CLE\",\"personId\":1628386,\"playerName\":\"Allen\",\"playerNameI\":\"J.
        Allen\",\"xLegacy\":0,\"yLegacy\":0,\"shotDistance\":0,\"shotResult\":\"\",\"isFieldGoal\":0,\"scoreHome\":\"\",\"scoreAway\":\"\",\"pointsTotal\":0,\"location\":\"h\",\"description\":\"Jump
        Ball Allen vs. Vucevic: Tip to Dosunmu\",\"actionType\":\"Jump Ball\",\"subType\":\"\",\"videoAvailable\":1,\"shotValu[...]
