interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/videodetailsasset?AheadBehind=&ClutchTime=&ContextFilter=&ContextMeasure=PTS&DateFrom=&DateTo=&EndPeriod=1&EndRange=&GameID=0022200552&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&Period=0&PlayerID=1628378&PointDiff=&Position=&RangeType=&RookieYear=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&StartPeriod=1&StartRange=&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"videodetails","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":1610612739,"PlayerID":1628378,"GameID":"0022200552","Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"Position":null,"RookieYear":null,"GameSegment":null,"Period":0,"LastNGames":0,"ClutchTime":null,"AheadBehind":null,"PointDiff":null,"RangeType":null,"StartPeriod":1,"EndPeriod":1,"StartRange":null,"EndRange":null,"ContextFilter":null,"ContextMeasure":"PTS","OppPlayerID":null,"ISTRound":null},"resultSets":{"Meta":{"videoUrls":[]},"playlist":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      vha6-origin:
      - varnish-1
      x-datasource:
      - Databricks
      x-edge-ttl:
      - '!no-store,max-age=31536000'
      x-etag:
      - ''
      x-full-ttl:
      - '31536000.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '31531235.145'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
