interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/videostatus?GameDate=2026-02-22&LeagueID=00
  response:
    body:
      string: '{"resource":"videostatus","parameters":{"LeagueID":"00","GameDate":"02/22/2026"},"resultSets":[{"name":"VideoStatus","headers":["GAME_ID","GAME_DATE","VISITOR_TEAM_ID","VISITOR_TEAM_CITY","VISITOR_TEAM_NAME","VISITOR_TEAM_ABBREVIATION","HOME_TEAM_ID","HOME_TEAM_CITY","HOME_TEAM_NAME","HOME_TEAM_ABBREVIATION","GAME_STATUS","GAME_STATUS_TEXT","IS_AVAILABLE","PT_XYZ_AVAILABLE"],"rowSet":[["0022500817","02/22/2026",1610612739,"Cleveland","Cavaliers","CLE",1610612760,"Oklahoma
        City","Thunder","OKC",1,"1:00 pm ET",0,0],["0022500818","02/22/2026",1610612751,"Brooklyn","Nets","BKN",1610612737,"Atlanta","Hawks","ATL",1,"3:30
        pm ET",0,0],["0022500819","02/22/2026",1610612761,"Toronto","Raptors","TOR",1610612749,"Milwaukee","Bucks","MIL",1,"3:30
        pm ET",0,0],["0022500820","02/22/2026",1610612743,"Denver","Nuggets","DEN",1610612744,"Golden
        State","Warriors","GSW",1,"3:30 pm ET",0,0],["0022500821","02/22/2026",1610612742,"Dallas","Mavericks","DAL",1610612754,"Indiana","Pacers","IND",1,"5:00
        pm ET",0,0],["0022500822","02/22/2026",1610612766,"Charlotte","Hornets","CHA",1610612764,"Washington","Wizards","WAS",1,"6:00
        pm ET",0,0],["0022500823","02/22/2026",1610612738,"Boston","Celtics","BOS",1610612747,"Los
        Angeles","Lakers","LAL",1,"6:30 pm ET",0,0],["0022500824","02/22/2026",1610612755,"Philadelphia","76ers","PHI",1610612750,"Minnesota","Timberwolves","MIN",1,"7:00
        pm ET",0,0],["0022500825","02/22/2026",1610612752,"New York","Knicks","NYK",1610612741,"Chicago","Bulls","CHI",1,"8:00
        pm ET",0,0],["0022500826","02/22/2026",1610612757,"Portland","Trail Blazers","POR",1610612756,"Phoenix","Suns","PHX",1,"8:00
        pm ET",0,0],["0022500827","02/22/2026",1610612753,"Orlando","Magic","ORL",1610612746,"LA","Clippers","LAC",1,"9:00
        pm ET",0,0]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      vha6-origin:
      - varnish-0
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '381.739'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
