interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerestimatedmetrics?LeagueID=00&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: "{\"resource\":\"playerestimatedmetrics\",\"parameters\":{\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"LeagueID\":\"00\"},\"resultSet\":{\"name\":\"PlayerEstimatedMetrics\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"E_OFF_RATING\",\"E_DEF_RATING\",\"E_NET_RATING\",\"E_AST_RATIO\",\"E_OREB_PCT\",\"E_DREB_PCT\",\"E_REB_PCT\",\"E_TOV_PCT\",\"E_USG_PCT\",\"E_PACE\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"E_OFF_RATING_RANK\",\"E_DEF_RATING_RANK\",\"E_NET_RATING_RANK\",\"E_AST_RATIO_RANK\",\"E_OREB_PCT_RANK\",\"E_DREB_PCT_RANK\",\"E_REB_PCT_RANK\",\"E_TOV_PCT_RANK\",\"E_USG_PCT_RANK\",\"E_PACE_RANK\"],\"rowSet\":[[1642847,\"Jeremiah
        Fears\",58,16,42,0.276,25.7,110.2,118.7,-8.5,17.2,0.03,0.133,0.08,12.08,0.244,103.31,1,265,530,449,164,303,474,425,271,361,264,323,43,80,176],[201942,\"DeMar
        DeRozan\",58,12,46,0.207,32.2,108.5,120.7,-12.1,18.4,0.016,0.095,0.055,5.401,0.225,102.14,1,337,535,491,47,360,501,474,232,463,432,471,43,114,270],[1630696,\"Dru
        Smith\",57,30,27,0.526,17.1,109.0,108.4,0.7,29.4,0.053,0.101,0.077,9.172,0.154,106.98,3,69,436,247,305,338,119,217,52,214,405,339,43,35[...]
