interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscorefourfactorsv3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscorefourfactors?Format=json\",\"time\":\"2026-02-22T05:12:31.1231Z\"},\"boxScoreFourFactors\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"statistics\":{\"minutes\":\"19:09\",\"effectiveFieldGoalPercentage\":0.452,\"freeThrowAttemptRate\":0.484,\"teamTurnoverPercentage\":0.076,\"offensiveReboundPercentage\":0.0,\"oppEffectiveFieldGoalPercentage\":0.528,\"oppFreeThrowAttemptRate\":0.222,\"oppTeamTurnoverPercentage\":0.074,\"oppOffensiveReboundPercentage\":0.125}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"0\",\"statistics\":{\"minutes\":\"37:48\",\"effectiveFieldGoalPercentage\":0.587,\"freeThrowAttemptRate\":0.362,\"teamTurnoverPercentage\":0.077,\"offensiveReboundPercentage\":0.025,\"oppEffectiveFieldGoalPercentage\":0.537,\"oppFreeThrowAttemptRate\":0.343,\"oppTeamTurnoverPercentage\":0.076,\"oppOffensiveReb[...]
