interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerawards?PlayerID=1628378
  response:
    body:
      string: '{"resource":"playerawards","parameters":{"PlayerID":1628378},"resultSets":[{"name":"PlayerAwards","headers":["PERSON_ID","FIRST_NAME","LAST_NAME","TEAM","DESCRIPTION","ALL_NBA_TEAM_NUMBER","SEASON","MONTH","WEEK","CONFERENCE","TYPE","SUBTYPE1","SUBTYPE2","SUBTYPE3"],"rowSet":[[1628378,"Donovan","Mitchell","Cleveland
        Cavaliers","All-NBA","2","2022-23",null,null,"East","Award","Kia Motors","KIANT",null],[1628378,"Donovan","Mitchell","Cleveland
        Cavaliers","All-NBA","1","2024-25",null,null,"East","Award","Kia Motors","KIANT",null],[1628378,"Donovan","Mitchell","Utah
        Jazz","All-Rookie Team","1","2017-18",null,null,"West","Award","Kia Motors","KIART",null],[1628378,"Donovan","Mitchell",null,"NBA
        All-Star",null,"2019-20",null,null,null,"Awar[...]
