interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playercompare?Conference=&DateFrom=&DateTo=&Division=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerIDList=202681%2C203078%2C2544%2C201567%2C203954&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision=&VsPlayerIDList=201566%2C201939%2C201935%2C201142%2C203076
  response:
    body:
      string: '{"resource":"playercompare","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerIDList":"202681,203078,2544,201567,203954","Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"VsPlayerIDList":"201566,201939,201935,201142,203076"},"resultSets":[{"name":"OverallCompare","headers":["GROUP_SET","DESCRIPTION","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS"],"rowSet":[["OVERALL","L.
        James''s AND K. Love''s AND K. Irving''s AND B. Beal''s AND J. Embiid''s combined
        stats",2830.955,663,1377,0.481,141,426,0.331,419,517,0.81,139,482,621,448,239,72,63,63,180,373,1886,-2.2],["VS
        OVERALL","K. Durant''s AND R. Westbrook''s AND J. Harden''s AND S. Curry''s
        AND A. Davis''s combined stats",7034.298333333333,1642,3544,0.463,564,1523,0.37,994,1152,0.863,207,969,1176,1220,680,241,125,162,449,897,4842,-14.8]]},{"name":"Individual","headers":[[...]
