interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerdashptpass?DateFrom=&DateTo=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&PlayerID=1628378&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"playerdashptpass\",\"parameters\":{\"PerMode\":\"Totals\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PlayerID\":1628378,\"TeamID\":1610612739,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"PassesMade\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME_LAST_FIRST\",\"TEAM_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"PASS_TYPE\",\"G\",\"PASS_TO\",\"PASS_TEAMMATE_PLAYER_ID\",\"FREQUENCY\",\"PASS\",\"AST\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG2M\",\"FG2A\",\"FG2_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\"],\"rowSet\":[[1628378,\"Mitchell,
        Donovan\",\"Cleveland Cavaliers\",1610612739,\"CLE\",\"made\",53,\"Proctor,
        Tyrese\",1642878,0.027,64,7,7,25,0.28,1,8,0.125,6,17,0.353],[1628378,\"Mitchell,
        Donovan\",\"Cleveland Cavaliers\",1610612739,\"CLE\",\"made\",53,\"Tyson,
        Jaylon\",1642281,0.112,260,48,51,94,0.543,31,54,0.574,20,40,0.5],[1628378,\"Mitchell,
        Donovan\",\"Cleveland Cavaliers\",1610612739,\"CLE\",\"made\",53,\"Porter
        Jr., Craig\",1641854,0.079,184,5,6,26,0[...]
