interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/cumestatsplayer?GameIDs=0022200552&LeagueID=00&PlayerID=1628378&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"cumestatsplayer","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"GameIDs":"0022200552"},"resultSets":[{"name":"GameByGameStats","headers":["DATE_EST","VISITOR_TEAM","HOME_TEAM","GP","GS","ACTUAL_MINUTES","ACTUAL_SECONDS","FG","FGA","FG_PCT","FG3","FG3A","FG3_PCT","FT","FTA","FT_PCT","OFF_REB","DEF_REB","TOT_REB","AVG_TOT_REB","AST","PF","DQ","STL","TURNOVERS","BLK","PTS","AVG_PTS"],"rowSet":[["01/02/2023","Bulls","Cavaliers",1,1,49,48,22,34,0.647,7,15,0.467,20,25,0.8,3,5,8,8.0,11,3,0,0,4,1,71,71.0]]},{"name":"TotalPlayerStats","headers":["DISPLAY_FI_LAST","PERSON_ID","JERSEY_NUM","GP","GS","ACTUAL_MINUTES","ACTUAL_SECONDS","FG","FGA","FG_PCT","FG3","FG3A","FG3_PCT","FT","FTA","FT_PCT","OFF_REB","DEF_REB","TOT_REB","AST","PF","DQ","STL","TURNOVERS","BLK","PTS","MAX_ACTUAL_MINUTES","MAX_ACTUAL_SECONDS","MAX_REB","MAX_AST","MAX_STL","MAX_TURNOVERS","MAX_BLK","MAX_PTS","AVG_ACTUAL_MINUTES","AVG_ACTUAL_SECONDS","AVG_TOT_REB","AVG_AST","AVG_STL","AVG_TURNOVERS","AVG_BLK","AVG_PTS","PER_MIN_TOT_REB","PER_MIN_AST","PER_MIN_STL","PER_MIN_TURNOVERS","PER_MIN_BLK","PER_MIN_PTS"],"rowSet":[["D.
        Mitchell",1628378,"45",1,1,49,48,22,34,0.647,7,15,0.467,20,25,0.8,3,5,8,11,3,0,0,4,1,71,49,48,8,11,0,4,1,71,49,48.0,8.0,11.0,0.0,4.0,1.0,71.0,7.7,10.6,0.0,3.9,0.96,68.4]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '120.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '-1274.124'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
