interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguehustlestatsplayer?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&Height=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerPosition=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguehustlestatsplayer\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"PerMode\":\"Totals\",\"Outcome\":null,\"Location\":null,\"MonthNum\":null,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OppTeamID\":null,\"vsConfernce\":null,\"vsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"LastNGames\":null,\"ISTRound\":null},\"resultSets\":[{\"name\":\"HustleStatsPlayer\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"AGE\",\"G\",\"MIN\",\"CONTESTED_SHOTS\",\"CONTESTED_SHOTS_2PT\",\"CONTESTED_SHOTS_3PT\",\"DEFLECTIONS\",\"CHARGES_DRAWN\",\"SCREEN_ASSISTS\",\"SCREEN_AST_PTS\",\"OFF_LOOSE_BALLS_RECOVERED\",\"DEF_LOOSE_BALLS_RECOVERED\",\"LOOSE_BALLS_RECOVERED\",\"PCT_LOOSE_BALLS_RECOVERED_OFF\",\"PCT_LOOSE_BALLS_RECOVERED_DEF\",\"OFF_BOXOUTS\",\"DEF_BOXOUTS\",\"BOX_OUT_PLAYER_TEAM_REBS\",\"BOX_OUT_PLAYER_REBS\",\"BOX_OUTS\",\"PCT_BOX_OUTS_OFF\",\"PCT_BOX_OUTS_DEF\",\"PCT_BOX_OUTS_TEAM_REB\",\"PCT_BOX_OUTS_REB\"],\"rowSet\":[[1630639,\"A.J.
        Lawson\",1610612761,\"TOR\",25.0,7,72.0,10,8,2,6,0,0,0,0,0,0,0.0,0.0,0,2,2,1,2,0.0,1.0,1.0,0.5],[1631260,\"AJ
        Green\",1610612749,\"MIL\",26.0,50,1510.0,195,106,89,75,3,15,33,6,20,26,0.231,0.769,0,28,28,7,28,0.0,1.0,1.0,0.25],[1642358,\"AJ
        Johnson\",1610612742,\"DAL\",21.0,19,190.0,28,13,15,11,0,2,4,2,0,2,1.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0],[203932,\"Aaron
        Gordon\",1610612743,\"DEN\",30.0,23,642.0,68,49,19,17,0,24,57,5,5,10,0.5,0.5,1,8,9,6,9,0.111,0[...]
