interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoreplayertrackv3?GameID=0022200552
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoreplayertrack?Format=json\",\"time\":\"2026-02-22T05:12:33.1233Z\"},\"boxScorePlayerTrack\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"statistics\":{\"minutes\":\"19:09\",\"speed\":4.56,\"distance\":1.54,\"reboundChancesOffensive\":2,\"reboundChancesDefensive\":2,\"reboundChancesTotal\":4,\"touches\":30,\"secondaryAssists\":1,\"freeThrowAssists\":0,\"passes\":25,\"assists\":2,\"contestedFieldGoalsMade\":1,\"contestedFieldGoalsAttempted\":2,\"contestedFieldGoalPercentage\":0.5,\"uncontestedFieldGoalsMade\":1,\"uncontestedFieldGoalsAttempted\":3,\"uncontestedFieldGoalsPercentage\":0.333,\"fieldGoalPercentage\":0.4,\"defendedAtRimFieldGoalsMade\":3,\"defendedAtRimFieldGoalsAttempted\":3,\"defendedAtRimFieldGoalPercentage\":1.0}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"0\",\"statistics\":{\"minutes\":\"37:48\",\"speed\":3.7,\"distance\":2.5,\"reboundChancesOffensive\":6,\"reboundChancesDefensive\":18,\"reboundChancesTotal\":22,\"touches\":67,\"secondaryAssists\":0,\"freeThrowAssists\":0,\"passes\":55,\"assists\":2,\"contestedFieldGoalsMade\":1,\"contestedFieldGoalsAttempted\":[...]
