interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoresummaryv2?GameID=0022200552
  response:
    body:
      string: '{"resource":"boxscoresummary","parameters":{"GameID":"0022200552"},"resultSets":[{"name":"GameSummary","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","WH_STATUS"],"rowSet":[["2023-01-02T00:00:00",3,"0022200552",3,"Final/OT","20230102/CHICLE",1610612739,1610612741,"2022",5,"     ",null,null,1]]},{"name":"OtherStats","headers":["LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PTS_PAINT","PTS_2ND_CHANCE","PTS_FB","LARGEST_LEAD","LEAD_CHANGES","TIMES_TIED","TEAM_TURNOVERS","TOTAL_TURNOVERS","TEAM_REBOUNDS","PTS_OFF_TO"],"rowSet":[["00",1610612739,"CLE","Cleveland",56,24,6,11,1,3,0,10,10,9],["00",1610612741,"CHI","Chicago",54,16,12,21,1,3,0,7,9,13]]},{"name":"Off[...]
