interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/iststandings?LeagueID=00&Season=2025-26&Section=group
  response:
    body:
      string: '{"leagueId":"00","seasonYear":"2025-26","unixTimeStamp":1771737832,"timeStampUtc":"2026-02-22T05:23:52.34","teams":[{"teamId":1610612737,"teamCity":"Atlanta","teamName":"Hawks","teamAbbreviation":"ATL","teamSlug":"hawks","conference":"East","istGroup":"East
        Group A","clinchIndicator":" -o","clinchedIstKnockout":0,"clinchedIstGroup":0,"clinchedIstWildcard":0,"istWildcardRank":5,"istGroupRank":2,"istKnockoutRank":null,"wins":2,"losses":2,"pct":0.5,"istGroupGb":2.0,"istWildcardGb":1.0,"diff":-4,"pts":468,"oppPts":472,"games":[{"gameId":"0022500020","gameNumber":1,"opponentTeamAbbreviation":"IND","location":"A","gameStatus":3,"gameStatusText":"Final","outcome":"W"},{"gameId":"0022500030","gameNumber":2,"opponentTeamAbbreviation":"TOR","location":"H","gameStatus":3,"gameStatusText":"Final","outcome":"L"},{"gameId":"0022500057","gameNumber":3,"opponentTeamAbbreviation":"WAS","location":"A","gameStatus":3,"gameStatusText":"Final","outcome":"L"},{"gameId":"0022500069","gameNumber":4,"opponentTeamAbbreviation":"CLE","location":"H","gameStatus":3,"gameStatusText":"Final","outcome":"W"}]},{"teamId":1610612738,"teamCity":"Boston","teamName":"Celtics","teamAbb[...]
