interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&TwoWay=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashplayerstats\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"GameScope\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"StarterBench\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"TwoWay\":0,\"GameSubtype\":null,\"ActiveRoster\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"LeagueDashPlayerStats\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"NICKNAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"AGE\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\",\"NBA_FANTASY_PTS\",\"DD2\",\"TD3\",\"WNBA_FANTASY_PTS\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"FTM_RANK\",\"FTA_RANK\",\"FT_PCT_RANK\",\"OREB_RANK\",\"DREB_RANK\",\"REB_RANK\",\"AST_RANK\",\"TOV_RANK\",\"STL_RANK\",\"BLK_RANK\",\"BLKA_RANK\",\"PF_RANK\",\"PFD_RANK\",\"PTS_RANK\",\"PLUS_MINUS_RANK\",\"NBA_FANTASY_PTS_RANK\",\"DD2_RANK\",\"TD3_RANK\",\"WNBA_FANTASY_PTS_RANK\",\"TEAM_COUNT\"],\"rowSet\":[[1630639,\"A.J.
        Lawson\",\"A.J.\",1610612761,\"TOR\",25.0,13,6,7,0.462,109.13166666666666,16,41,0.39,8,22,0.364,9,9,1.0,7,16,23,3,4,4,3,2,15,7,49,-31,98.1,0,0,97.0,440,423,103,318,444,434,431,448,373,388,193,394,418,1,408,429,431,476,454,437,382,86,102,423,429,344,439,226,28,434,1],[1631260,\"AJ
        Green\",\"AJ\",1610612749,\"MIL\",26.0,50,23,27,0.46,1510.185,172,395,0.435,151,354,0.427,27,34,0.794,12,118,130,103,43,28,5,11,117,47,522,36,888.5,0,0,972.0,104,174,436,322,62,164,153,3[...]
