interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/draftcombinespotshooting?LeagueID=00&SeasonYear=2025
  response:
    body:
      string: "{\"resource\":\"draftcombinespotshooting\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025\"},\"resultSets\":[{\"name\":\"Results\",\"headers\":[\"TEMP_PLAYER_ID\",\"PLAYER_ID\",\"FIRST_NAME\",\"LAST_NAME\",\"PLAYER_NAME\",\"POSITION\",\"FIFTEEN_CORNER_LEFT_MADE\",\"FIFTEEN_CORNER_LEFT_ATTEMPT\",\"FIFTEEN_CORNER_LEFT_PCT\",\"FIFTEEN_BREAK_LEFT_MADE\",\"FIFTEEN_BREAK_LEFT_ATTEMPT\",\"FIFTEEN_BREAK_LEFT_PCT\",\"FIFTEEN_TOP_KEY_MADE\",\"FIFTEEN_TOP_KEY_ATTEMPT\",\"FIFTEEN_TOP_KEY_PCT\",\"FIFTEEN_BREAK_RIGHT_MADE\",\"FIFTEEN_BREAK_RIGHT_ATTEMPT\",\"FIFTEEN_BREAK_RIGHT_PCT\",\"FIFTEEN_CORNER_RIGHT_MADE\",\"FIFTEEN_CORNER_RIGHT_ATTEMPT\",\"FIFTEEN_CORNER_RIGHT_PCT\",\"COLLEGE_CORNER_LEFT_MADE\",\"COLLEGE_CORNER_LEFT_ATTEMPT\",\"COLLEGE_CORNER_LEFT_PCT\",\"COLLEGE_BREAK_LEFT_MADE\",\"COLLEGE_BREAK_LEFT_ATTEMPT\",\"COLLEGE_BREAK_LEFT_PCT\",\"COLLEGE_TOP_KEY_MADE\",\"COLLEGE_TOP_KEY_ATTEMPT\",\"COLLEGE_TOP_KEY_PCT\",\"COLLEGE_BREAK_RIGHT_MADE\",\"COLLEGE_BREAK_RIGHT_ATTEMPT\",\"COLLEGE_BREAK_RIGHT_PCT\",\"COLLEGE_CORNER_RIGHT_MADE\",\"COLLEGE_CORNER_RIGHT_ATTEMPT\",\"COLLEGE_CORNER_RIGHT_PCT\",\"NBA_CORNER_LEFT_MADE\",\"NBA_CORNER_LEFT_ATTEMPT\",\"NBA_CORNER_LEFT_PCT\",\"NBA_BREAK_LEFT_MADE\",\"NBA_BREAK_LEFT_ATTEMPT\",\"NBA_BREAK_LEFT_PCT\",\"NBA_TOP_KEY_MADE\",\"NBA_TOP_KEY_ATTEMPT\",\"NBA_TOP_KEY_PCT\",\"NBA_BREAK_RIGHT_MADE\",\"NBA_BREAK_RIGHT_ATTEMPT\",\"NBA_BREAK_RIGHT_PCT\",\"NBA_CORNER_RIGHT_MADE\",\"NBA_CORNER_RIGHT_ATTEMPT\",\"NBA_CORNER_RIGHT_PCT\"],\"rowSet\":[[1641891,1641891,\"Izan\",\"Almansa\",\"Izan
        Almansa\",\"C\",null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,12,25,0.48,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null],[1642921,1642921,\"Neoklis\",\"Avdalas\",\"Neoklis
        Avdalas\",\"SF\",null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,14,25,0.56,null,null,null,null,null,null,null,null,null,n[...]
