interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoreadvancedv3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoreadvanced?Format=json\",\"time\":\"2026-02-20T18:13:31.1331Z\"},\"boxScoreAdvanced\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"19:09\",\"estimatedOffensiveRating\":97.5,\"offensiveRating\":97.5,\"estimatedDefensiveRating\":112.5,\"defensiveRating\":112.5,\"estimatedNetRating\":-15.0,\"netRating\":-15.0,\"assistPercentage\":0.182,\"assistToTurnover\":0.0,\"assistRatio\":28.6,\"offensiveReboundPercentage\":0.0,\"defensiveReboundPercentage\":0.05,\"reboundPercentage\":0.024,\"turnoverRatio\":0.0,\"effectiveFieldGoalPercentage\":0.4,\"trueShootingPercentage\":0.4,\"usagePercentage\":0.122,\"estimatedUsagePercentage\":0.122,\"estimatedPace\":100.26,\"pace\":100.26,\"pacePer40\":83.55,\"possessions\":40.0,\"PIE\":0.051}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"37:48\",\"estimatedOffensiveRating\":124.1,\"offensiveRating\":124.1,\"estimatedDefensiveRating\":116.5,\"defensiveRating\":116.5,\"estimatedNetRating\":7.6,\"netRating\":7.6,\"assistPercentage\":0.065,\"assistToTurnover\":2.0,\"assistRatio\":14.3,\"offensiveReboundPercentage\"[...]
