interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/alltimeleadersgrids?LeagueID=00&PerMode=Totals&SeasonType=Regular+Season&TopX=10
  response:
    body:
      string: '{"resource":"alltimeleadersgrids","parameters":{"LeagueID":"00","SeasonType":"Regular
        Season","PerMode":"Totals","TopX":"10"},"resultSets":[{"name":"GPLeaders","headers":["PLAYER_ID","PLAYER_NAME","GP","GP_RANK","IS_ACTIVE_FLAG"],"rowSet":[[305,"Robert
        Parish",1611,1,"N"],[2544,"LeBron James",1599,2,"Y"],[76003,"Kareem Abdul-Jabbar",1560,3,"N"],[1713,"Vince
        Carter",1541,4,"N"],[1717,"Dirk Nowitzki",1522,5,"N"],[304,"John Stockton",1504,6,"N"],[252,"Karl
        Malone",1476,7,"N"],[708,"Kevin Garnett",1462,8,"N"],[788,"Kevin Willis",1424,9,"N"],[1891,"Jason
        Terry",1410,10,"N"]]},{"name":"PTSLeaders","headers":["PLAYER_ID","PLAYER_NAME","PTS","PTS_RANK","IS_ACTIVE_FLAG"],"rowSet":[[2544,"LeBron
        Jame[...]
