interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playoffpicture?LeagueID=00&SeasonID=22025
  response:
    body:
      string: '{"resource":"playoffpicture","parameters":{"LeagueID":"00","SeasonID":"22025"},"resultSets":[{"name":"EastConfPlayoffPicture","headers":["CONFERENCE","HIGH_SEED_RANK","HIGH_SEED_TEAM","HIGH_SEED_TEAM_ID","LOW_SEED_RANK","LOW_SEED_TEAM","LOW_SEED_TEAM_ID","HIGH_SEED_SERIES_W","HIGH_SEED_SERIES_L","HIGH_SEED_SERIES_REMAINING_G","HIGH_SEED_SERIES_REMAINING_HOME_G","HIGH_SEED_SERIES_REMAINING_AWAY_G"],"rowSet":[["East",1,"Detroit",1610612765,8,"Orlando",1610612753,1,1,2,0,2],["East",2,"Boston",1610612738,7,"Miami",1610612748,3,0,1,0,1],["East",3,"New
        York",1610612752,6,"Philadelphia",1610612755,2,2,0,0,0],["East",4,"Cleveland",1610612739,5,"Toronto",1610612761,0,3,0,0,0]]},{"name":"WestConfPlayoffPicture","headers":["CONFERENCE","HIGH_SEED_RANK","HIGH_SEED_TEAM","HIGH_SEED_TEAM_ID","LOW_SEED_RANK","LOW_SEED_TEAM","LOW_SEED_TEAM_ID","HIGH_SEED_SERIES_W","HIGH_SEED_SERIES_L","HIGH_SEED_SERIES_RE[...]
