interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoremiscv3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoremisc?Format=json\",\"time\":\"2026-02-22T05:12:35.1235Z\"},\"boxScoreMisc\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"statistics\":{\"minutes\":\"19:09\",\"pointsOffTurnovers\":0,\"pointsSecondChance\":0,\"pointsFastBreak\":0,\"pointsPaint\":4,\"oppPointsOffTurnovers\":6,\"oppPointsSecondChance\":6,\"oppPointsFastBreak\":6,\"oppPointsPaint\":18,\"blocks\":0,\"blocksAgainst\":0,\"foulsPersonal\":0,\"foulsDrawn\":0}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"0\",\"statistics\":{\"minutes\":\"37:48\",\"pointsOffTurnovers\":0,\"pointsSecondChance\":0,\"pointsFastBreak\":0,\"pointsPaint\":2,\"oppPointsOffTurnovers\":9,\"oppPointsSecondChance\":10,\"oppPointsFastBreak\":8,\"oppPointsPaint\":32,\"blocks\":0,\"blocksAgainst\":0,\"foulsPersonal\":6,\"foulsDrawn\":1}},{\"pers[...]
