interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamyearbyyearstats?LeagueID=00&PerMode=Totals&SeasonType=Regular+Season&TeamID=1610612739
  response:
    body:
      string: '{"resource":"teamyearbyyearstats","parameters":{"LeagueID":"00","SeasonType":"Regular
        Season","PerMode":"Totals","TeamID":1610612739},"resultSets":[{"name":"TeamStats","headers":["TEAM_ID","TEAM_CITY","TEAM_NAME","YEAR","GP","WINS","LOSSES","WIN_PCT","CONF_RANK","DIV_RANK","PO_WINS","PO_LOSSES","CONF_COUNT","DIV_COUNT","NBA_FINALS_APPEARANCE","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","PF","STL","TOV","BLK","PTS","PTS_RANK"],"rowSet":[[1610612739,"Cleveland","Cavaliers","1970-71",82,15,67,0.183,8,4,0,0,8,4,"N/A",3299,0,0.0,0,0,0.0,0,2380,0.746,0,0,0,2065,2114,0,0,0,8373,17],[1610612739,"Cleveland","Cavaliers","1971-72",82,23,59,0.28,7,4,0,0,8,4,"N/A",3458,0,0.0,0,0,0.0,0,2390,0.736,0,0,0,2060,1936,0,0,0,8674,16],[1610612739,"Cleveland","Cavaliers","1972-73",82,32,50,0.39,6,4,0,0,8,4,"N/A",3431,0,0.0,0,0,0.0,0,2084,0.747,0,0,0,2106,1941,0,0,0,8418,17],[1610612739,"Cleveland","Cavaliers","1973-74",82,29,53,0.354,7,4,0,0,8,4,"N[...]
