interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerindex?Active=&AllStar=&College=&Country=&DraftPick=&DraftYear=&Height=&Historical=&LeagueID=00&PlayerPosition=&Season=2025-26&TeamID=&Weight=
  response:
    body:
      string: "{\"resource\":\"playerindex\",\"parameters\":{\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"Historical\":0,\"TeamID\":0,\"Country\":null,\"College\":null,\"DraftYear\":null,\"DraftPick\":null,\"PlayerPosition\":\"\",\"Height\":null,\"Weight\":null,\"Active\":0,\"AllStar\":0},\"resultSets\":[{\"name\":\"PlayerIndex\",\"headers\":[\"PERSON_ID\",\"PLAYER_LAST_NAME\",\"PLAYER_FIRST_NAME\",\"PLAYER_SLUG\",\"TEAM_ID\",\"TEAM_SLUG\",\"IS_DEFUNCT\",\"TEAM_CITY\",\"TEAM_NAME\",\"TEAM_ABBREVIATION\",\"JERSEY_NUMBER\",\"POSITION\",\"HEIGHT\",\"WEIGHT\",\"COLLEGE\",\"COUNTRY\",\"DRAFT_YEAR\",\"DRAFT_ROUND\",\"DRAFT_NUMBER\",\"ROSTER_STATUS\",\"FROM_YEAR\",\"TO_YEAR\",\"PTS\",\"REB\",\"AST\",\"STATS_TIMEFRAME\"],\"rowSet\":[[1630173,\"Achiuwa\",\"Precious\",\"precious-achiuwa\",1610612758,\"kings\",0,\"Sacramento\",\"Kings\",\"SAC\",\"9\",\"F\",\"6-8\",\"243\",\"Memphis\",\"Nigeria\",2020,1,20,1.0,\"2020\",\"2025\",7.4,5.5,1.2,\"Season\"],[203500,\"Adams\",\"Steven\",\"steven-adams\",1610612745,\"rockets\",0,\"Houston\",\"Rockets\",\"HOU\",\"12\",\"C\",\"6-11\",\"265\",\"Pittsburgh\",\"New
        Zealand\",2013,1,12,1.0,\"2013\",\"2025\",5.8,8.6,1.5,\"Season\"],[1628389,\"Adebayo\",\"Bam\",\"bam-adebayo\",1610612[...]
