interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerdashptshotdefend?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Period=0&PlayerID=1628378&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"playerdashptshotdefend","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"TeamID":1610612739,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null},"resultSets":[{"name":"DefendingShots","headers":["MATCHUPID","GP","G","DEFENSE_CATEGORY","FREQ","D_FGM","D_FGA","D_FG_PCT","NORMAL_FG_PCT","PCT_PLUSMINUS"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '361.926'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
