interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguegamelog?Counter=0&DateFrom=&DateTo=&Direction=ASC&LeagueID=00&PlayerOrTeam=T&Season=2025-26&SeasonType=Regular+Season&Sorter=DATE
  response:
    body:
      string: '{"resource":"leaguegamelog","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerOrTeam":"T","Counter":0,"Sorter":"DATE","Direction":"ASC","DateFrom":null,"DateTo":null},"resultSets":[{"name":"LeagueGameLog","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[["22025",1610612744,"GSW","Golden
        State Warriors","0022500002","2025-10-21","GSW @ LAL","W",240,38,78,0.487,17,40,0.425,26,29,0.897,9,31,40,29,10,4,19,27,119,10,1],["22025",1610612747,"LAL","Los
        Angeles Lakers","0022500002","2025-10-21","LAL vs. GSW","L",240,42,77,0.545,8,32,0.25,17,28,0.607,7,32,39,23,7,2,20,21,109,-10,1],["22025",1610612745,"HOU","Houston
        Rockets","0022500001","2025-10-21","HOU @ OKC","L",290,43,97,0.443,11,39,0.282,27,31,0.871,16,36,52,23,6,5,25,26,12[...]
