interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/shotchartleaguewide?LeagueID=00&Season=2025-26
  response:
    body:
      string: '{"resource":"shotchartleaguewide","parameters":{"LeagueID":"00","Season":"2025-26"},"resultSets":[{"name":"League_Wide","headers":["GRID_TYPE","SHOT_ZONE_BASIC","SHOT_ZONE_AREA","SHOT_ZONE_RANGE","FGA","FGM","FG_PCT"],"rowSet":[["League
        Averages","Above the Break 3","Back Court(BC)","Back Court Shot",4,3,0.75],["League
        Averages","Above the Break 3","Center(C)","24+ ft.",11857,4144,0.349],["League
        Averages","Above the Break 3","Left Side Center(LC)","24+ ft.",18109,6398,0.353],["League
        Averages","Above the Break 3","Right Side Center(RC)","24+ ft.",16319,5629,0.345],["League
        Averages","Backcourt","Back Court(BC)","Back Court Shot",22,11,0.5],["League
        Averages","In The Pai[...]
