interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashteamshotlocations?Conference=&DateFrom=&DateTo=&DistanceRange=By+Zone&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashteamshotlocations","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PORound":null,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"TeamID":null,"Conference":null,"Division":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"DistanceRange":"By
        Zone","GameScope":null,"PlayerExperience":null,"PlayerPosition":null,"StarterBench":null,"ISTRound":null},"resultSets":{"name":"ShotLocations","headers":[{"name":"SHOT_CATEGORY","columnsToSkip":2,"columnSpan":3,"columnNames":["Restricted
        Area","In The Paint (Non-RA)","Mid-Range","Left Corner 3","Right Corner 3","Above
        the Break 3","Backcourt","Corner 3"]},{"name":"columns","columnSpan":1,"columnNames":["TEAM_ID","TEAM_NAME","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT","FGM","FGA","FG_PCT"]}],"rowSet":[[1610612737,"Atlanta
        Hawks",989,1505,0.657,501,1142,0.439,168,401,0.419,110,291,0.378,132,325,0.406,596,1651,0.361,0,0,0.0,242,616,0.393],[1610612738,"Boston
        Celtics",735,1022,0.719,495,1007,0.492,275,669,0.411,86,209,0.411,75,173,0.434,686,1949,0.352,0,0,0.0,161,382,0.421],[1610612751,"Brooklyn
        Nets",865,1321,0.655,322,779,0.413,135,371,0.364,97,268,0.362,97,264,0.367,554,1674,0.331,0,1,0.0,194,532,0.365],[1610612766,"Charlotte
        Hornets",909,1388,0.655,420,1001,0[...]
