interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashptdefend?College=&Conference=&Country=&DateFrom=&DateTo=&DefenseCategory=Overall&Division=&DraftPick=&DraftYear=&GameSegment=&Height=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&PlayerExperience=&PlayerID=&PlayerPosition=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashptdefend\",\"parameters\":{\"PerMode\":\"Totals\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PlayerID\":null,\"TeamID\":null,\"Outcome\":null,\"Location\":null,\"Month\":null,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":null,\"vsConfernce\":null,\"vsDivision\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":null,\"LastNGames\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"StarterBench\":null,\"PORound\":null,\"DefenseCategory\":\"Overall\",\"ISTRound\":null},\"resultSets\":[{\"name\":\"LeagueDashPTDefend\",\"headers\":[\"CLOSE_DEF_PERSON_ID\",\"PLAYER_NAME\",\"PLAYER_LAST_TEAM_ID\",\"PLAYER_LAST_TEAM_ABBREVIATION\",\"PLAYER_POSITION\",\"AGE\",\"GP\",\"G\",\"FREQ\",\"D_FGM\",\"D_FGA\",\"D_FG_PCT\",\"NORMAL_FG_PCT\",\"PCT_PLUSMINUS\"],\"rowSet\":[[1642270,\"Donovan
        Clingan\",1610612757,\"POR\",\"C\",21.0,53,53,1.0,496,1079,0.46,0.493,-0.033],[203497,\"Rudy
        Gobert\",1610612750,\"MIN\",\"C\",33.0,55,55,1.0,418,942,0.444,0.494,-0.05],[1642852,\"Derik
        Queen\",1610612740,\"NOP\",\"C\",21.0,56,56,1.0,433,914,0.474,0.492,-0.018],[202696,\"Nikola
        Vu\u010Devi\u0107\",1610612738,\"BOS\",\"C\",35.0,52,52,1.0,424,860,0.493,0.49,0.003],[1630578,\"Alperen
        Sengun\",1610612745,\"HOU\",\"C\",23.0,46,46,1.0,401,810[...]
