interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamvsplayer?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerID=&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=&VsPlayerID=1630596
  response:
    body:
      string: '{"resource":"teamvsplayer","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":0,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"VsPlayerID":1630596},"resultSets":[{"name":"Overall","headers":["GROUP_SET","GROUP_VALUE","TEAM_ID","TEAM_ABBREVIATION","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK"],"rowSet":[["Overall","Miami
        Heat",1610612748,"MIA",58,31,27,0.534,2788.971667,2528,5455,0.463,778,2158,0.361,1127,1434,0.786,701,2038,2739,1667,820.0,529,246,305,1101,1167,6961,182.0,1,13,15,14,4,1,1,19,13,12,14,8,10,15,9,1,1,3,12,6,22,25,11,10,1,10],["Overall","Atlanta
        Hawks",1610612737,"ATL",58,27,31,0.466,2794.0,2496,5315,0.47,838,2267,0.37,953,1234,0.772,592,1870,2462,1760,830.0,535,271,297,1154,1075,6783,-95.0,1,17,20,19,3,2,2,14,4,8,6,26,24,21,22,9,17,1,18,5,17,23,21,24,6,19],["Over[...]
