interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/assistleaders?LeagueID=00&PerMode=Totals&PlayerOrTeam=Team&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"assistleaders","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PerMode":"Totals","PlayerOrTeam":"Team"},"resultSets":[{"name":"AssistLeaders","headers":["RANK","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","AST"],"rowSet":[[1,1610612737,"ATL","Atlanta
        Hawks",1760],[2,1610612762,"UTA","Utah Jazz",1712],[3,1610612748,"MIA","Miami
        Heat",1667],[4,1610612741,"CHI","Chicago Bulls",1656],[5,1610612761,"TOR","Toronto
        Raptors",1636]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      vha6-origin:
      - varnish-0
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '403.710'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
