interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguehustlestatsteam?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&Height=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerPosition=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: '{"resource":"leaguehustlestatsteam","parameters":{"LeagueID":"00","SeasonYear":"2025-26","SeasonType":"Regular
        Season","PORound":null,"PerMode":"Totals","Outcome":null,"Location":null,"MonthNum":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":null,"vsConfernce":null,"vsDivision":null,"TeamID":null,"Conference":null,"Division":null,"PlayerExperience":null,"PlayerPosition":null,"DraftYear":null,"DraftPick":null,"College":null,"Country":null,"Height":null,"Weight":null,"LastNGames":null,"ISTRound":null},"resultSets":[{"name":"HustleStatsTeam","headers":["TEAM_ID","TEAM_NAME","MIN","CONTESTED_SHOTS","CONTESTED_SHOTS_2PT","CONTESTED_SHOTS_3PT","DEFLECTIONS","CHARGES_DRAWN","SCREEN_ASSISTS","SCREEN_AST_PTS","OFF_LOOSE_BALLS_RECOVERED","DEF_LOOSE_BALLS_RECOVERED","LOOSE_BALLS_RECOVERED","PCT_LOOSE_BALLS_RECOVERED_OFF","PCT_LOOSE_BALLS_RECOVERED_DEF","OFF_BOXOUTS","DEF_BOXOUTS","BOX_OUTS","PCT_BOX_OUTS_OFF","PCT_BOX_OUTS_DEF"],"rowSet":[[1610612737,"Atlanta
        Hawks",2769.0,2541,1572,969,1140,10,437,1020,139,149,288,0.483,0.517,53,285,338,0.157,0.843],[1610612738,"Boston
        Celtics",2617.0,2327,1382,945,890,23,549,1323,129,111,240,0.538,0.463,102,283,388,0.263,0.729],[1610612751,"Brooklyn
        Nets",2619.0,2267,1433,834,953,9,372,896,112,104,216,0.519,0.481,99,209,308,0.321,0.679],[1610612766,"Charlotte
        Hornets",2720.0,2489,1613,876,808,9,425,1006,147,106,253,0.581,0.419,134,307,441,0.304,0.696],[161061274[...]
