interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashboardbyshootingsplits?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"teamdashboardbyshootingsplits\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":0,\"TeamID\":1610612739,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"OverallTeamDashboard\",\"headers\":[\"GROUP_SET\",\"GROUP_VALUE\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"EFG_PCT\",\"BLKA\",\"PCT_AST_2PM\",\"PCT_UAST_2PM\",\"PCT_AST_3PM\",\"PCT_UAST_3PM\",\"PCT_AST_FGM\",\"PCT_UAST_FGM\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"EFG_PCT_RANK\",\"BLKA_RANK\",\"PCT_AST_2PM_RANK\",\"PCT_UAST_2PM_RANK\",\"PCT_AST_3PM_RANK\",\"PCT_UAST_3PM_RANK\",\"PCT_AST_FGM_RANK\",\"PCT_UAST_FGM_RANK\"],\"rowSet\":[[\"Overall\",\"2025-26\",2484,5203,0.477,831,2314,0.359,0.557,249,0.57,0.43,0.822,0.178,0.654,0.346,1,1,1,1,1,1,1,1,1,1,1,1,1,1]]},{\"name\":\"Shot5FTTeamDashboard\",\"headers\":[\"GROUP_SET\",\"GROUP_VALUE\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"EFG_PCT\",\"BLKA\",\"PCT_AST_2PM\",\"PCT_UAST_2PM\",\"PCT_AST_3PM\",\"PCT_UAST_3PM\",\"PCT_AST_FGM\",\"PCT_UAST_FGM\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"EFG_PCT_RANK\",\"BLKA_RA[...]
