interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/assisttracker?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&Height=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=&PlayerExperience=&PlayerPosition=&Season=&SeasonSegment=&SeasonType=&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: '{"resource":"assisttracker","parameters":{"PerMode":null,"LeagueID":"00","Season":null,"SeasonType":"Regular
        Season","PORound":null,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":null,"VsConference":null,"VsDivision":null,"TeamID":null,"Conference":null,"Division":null,"LastNGames":null,"GameScope":null,"PlayerExperience":null,"PlayerPosition":null,"StarterBench":null,"DraftYear":null,"DraftPick":null,"College":null,"Country":null,"Height":null,"Weight":null},"resultSets":[{"name":"AssistTracker","headers":["ASSISTS"],"rowSet":[[1692425]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '403.370'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
