interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashteamclutch?AheadBehind=Ahead+or+Behind&ClutchTime=Last+5+Minutes&Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&PointDiff=5&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashteamclutch","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PORound":null,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"ClutchTime":"Last
        5 Minutes","AheadBehind":"Ahead or Behind","PointDiff":5,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"TeamID":null,"Conference":null,"Division":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"GameScope":null,"PlayerExperience":null,"PlayerPosition":null,"StarterBench":null,"ISTRound":null},"resultSets":[{"name":"LeagueDashTeamClutch","headers":["TEAM_ID","TEAM_NAME","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK"],"rowSet":[[1610612737,"Atlanta
        Hawks",28,13,15,0.464,105.67,82,177,0.463,24,66,0.364,68,84,0.81,19,67,86,53,29.0,20,15,14,63,58,256,-12.0,10,15,19,21,14,14,18,8,13,20,9,14,14,8,24,16,21,4,17,6,9,20,19,15,15,19],[1610612738,"Boston
        Celtics",26,12,14,0.462,88.84,68,152,0.447,26,70,0.371,56,75,0.747,17,61,78,38,26.0,11,6,5,58,53,218,6.0,18,20,16,22,23,22,24,13,10,17,6,20,19,22,26,21,22,20,15,25,24,2,14,20,20,14],[1610612751,"Brooklyn
        Nets",23,5,18,0.217,73.895,46,129,0.357,18,66,0.27[...]
