interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/commonplayoffseries?LeagueID=00&Season=2025-26&SeriesID=
  response:
    body:
      string: '{"resource":"commonplayoffseries","parameters":{"LeagueID":"00","Season":"2025-26","SeriesID":null},"resultSets":[{"name":"PlayoffSeries","headers":["GAME_ID","HOME_TEAM_ID","VISITOR_TEAM_ID","SERIES_ID","GAME_NUM"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '900.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '-508.699'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
