interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdetails?TeamID=1610612739
  response:
    body:
      string: '{"resource":"teamdetails","parameters":{"TeamID":1610612739},"resultSets":[{"name":"TeamBackground","headers":["TEAM_ID","ABBREVIATION","NICKNAME","YEARFOUNDED","CITY","ARENA","ARENACAPACITY","OWNER","GENERALMANAGER","HEADCOACH","DLEAGUEAFFILIATION"],"rowSet":[[1610612739,"CLE","Cavaliers",1970,"Cleveland","Rocket
        Arena","20562","Dan Gilbert","Koby Altman","Kenny Atkinson","Cleveland Charge"]]},{"name":"TeamHistory","headers":["TEAM_ID","CITY","NICKNAME","YEARFOUNDED","YEARACTIVETILL"],"rowSet":[[1610612739,"Cleveland","Cavaliers",1970,2023]]},{"name":"TeamSocialSites","headers":["ACCOUNTTYPE","WEBSITE_LINK"],"rowSet":[["Facebook","https://www.facebook.com/Cavs"],["Instagram","https://instagram.com/cavs"],["Twitter","https://twitter.com/cavs"[...]
