interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leagueleaders?ActiveFlag=&LeagueID=00&PerMode=Totals&Scope=S&Season=2025-26&SeasonType=Regular+Season&StatCategory=PTS
  response:
    body:
      string: "{\"resource\":\"leagueleaders\",\"parameters\":{\"LeagueID\":\"00\",\"PerMode\":\"Totals\",\"StatCategory\":\"PTS\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"Scope\":\"S\",\"ActiveFlag\":null},\"resultSet\":{\"name\":\"LeagueLeaders\",\"headers\":[\"PLAYER_ID\",\"RANK\",\"PLAYER\",\"TEAM_ID\",\"TEAM\",\"GP\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"STL\",\"BLK\",\"TOV\",\"PF\",\"PTS\",\"EFF\",\"AST_TOV\",\"STL_TOV\"],\"rowSet\":[[1628983,1,\"Shai
        Gilgeous-Alexander\",1610612760,\"OKC\",49,1632,534,964,0.554,87,223,0.39,403,452,0.892,27,191,218,314,64,38,103,101,1558,1610,3.05,0.62],[1630178,1,\"Tyrese
        Maxey\",1610612755,\"PHI\",54,2083,541,1163,0.465,180,481,0.374,296,332,0.892,15,205,220,361,108,41,133,122,1558,1497,2.71,0.81],[1628378,3,\"Donovan
        Mitchell\",1610612739,\"CLE\",53,1774,532,1094,0.486,189,503,0.376,274,320,0.856,41,194,235,311,81,15,164,130,1527,1397,1.9,0.49],[1627759,4,\"Jaylen[...]
