interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashplayerptshot?CloseDefDistRange=&College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&DribbleRange=&GameSegment=&GeneralRange=&Height=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&PlayerExperience=&PlayerPosition=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&ShotDistRange=&StarterBench=&TeamID=&TouchTimeRange=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashplayerptshot\",\"parameters\":{\"PerMode\":\"Totals\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"CloseDefDistRange\":null,\"ShotClockRange\":null,\"ShotDistRange\":null,\"TouchTimeRange\":null,\"DribbleRange\":null,\"GeneralRange\":null,\"TeamID\":null,\"Outcome\":null,\"Location\":null,\"Month\":null,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":null,\"VsConference\":null,\"VsDivision\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":null,\"LastNGames\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"StarterBench\":null,\"ISTRound\":null},\"resultSets\":[{\"name\":\"LeagueDashPTShots\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"PLAYER_LAST_TEAM_ID\",\"PLAYER_LAST_TEAM_ABBREVIATION\",\"AGE\",\"GP\",\"G\",\"FGA_FREQUENCY\",\"FGM\",\"FGA\",\"FG_PCT\",\"EFG_PCT\",\"FG2A_FREQUENCY\",\"FG2M\",\"FG2A\",\"FG2_PCT\",\"FG3A_FREQUENCY\",\"FG3M\",\"FG3A\",\"FG3_PCT\"],\"rowSet\":[[1630178,\"Tyrese
        Maxey\",1610612755,\"PHI\",25.0,53,53,1.0,532,1140,0.467,0.545,0.588,354,670,0.528,0.412,178,470,0.379],[1627759,\"Jaylen
        Brown\",1610612738,\"BOS\",29.0,50,50,1.0,544,1123,0.484,0.53,0.736,442,827,0.534,0.264,102,296,0.345],[1628378,\"Donovan
        Mitchell\",1610612739,\"CLE\",29.0,53,53,1.0,532,1094,0.486,0.573,0.54,343,591,0.58,0.46,189,503,0.376],[1628973,\"Jalen
        Brunson\",1610612752,\"NYK\",29.0,51,51,1.0,493,1044,0.472,0.544,0.62,344,647,0.532,[...]
