interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamestimatedmetrics?LeagueID=00&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"teamestimatedmetrics","parameters":{"Season":"2025-26","SeasonType":"Regular
        Season","LeagueID":"00"},"resultSet":{"name":"TeamEstimatedMetrics","headers":["TEAM_NAME","TEAM_ID","GP","W","L","W_PCT","MIN","E_OFF_RATING","E_DEF_RATING","E_NET_RATING","E_PACE","E_AST_RATIO","E_OREB_PCT","E_DREB_PCT","E_REB_PCT","E_TM_TOV_PCT","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","E_OFF_RATING_RANK","E_DEF_RATING_RANK","E_NET_RATING_RANK","E_AST_RATIO_RANK","E_OREB_PCT_RANK","E_DREB_PCT_RANK","E_REB_PCT_RANK","E_TM_TOV_PCT_RANK","E_PACE_RANK"],"rowSet":[["Miami
        Heat",1610612748,58,31,27,0.534,2789.0,112.2,109.3,2.9,106.8,19.4,0.255,0.748,0.5,0.132,1,13,15,14,4,15,4,10,9,16,6,12,4,1],["Atlanta
        Hawks",1610612737,58,27,31,0.466,2794.0,111.3,112.8,-1.6,104.7,20.8,0.225,0.731,0.475,0.136,1,17,20,19,3,22,16,19,1,27,24,30,10,2],["New
        Orleans Pelicans",1610612740,58,16,42,0.276,2809.0,110.9,116.4,-5.5,102.7,17.7,0.267,0.715,0.487,0.136,1,26,28,27,1,23,27,25,27,10,29,22,9,12],["Sacramento
        Kings",1610612758,58,12,46,0.207[...]
