interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/hustlestatsboxscore?GameID=0022200552
  response:
    body:
      string: "{\"resource\":\"hustlestatsboxscore\",\"parameters\":{\"GameID\":\"0022200552\"},\"resultSets\":[{\"name\":\"HustleStatsAvailable\",\"headers\":[\"GAME_ID\",\"HUSTLE_STATUS\"],\"rowSet\":[[\"0022200552\",1]]},{\"name\":\"PlayerStats\",\"headers\":[\"GAME_ID\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"TEAM_CITY\",\"PLAYER_ID\",\"PLAYER_NAME\",\"START_POSITION\",\"COMMENT\",\"MINUTES\",\"PTS\",\"CONTESTED_SHOTS\",\"CONTESTED_SHOTS_2PT\",\"CONTESTED_SHOTS_3PT\",\"DEFLECTIONS\",\"CHARGES_DRAWN\",\"SCREEN_ASSISTS\",\"SCREEN_AST_PTS\",\"OFF_LOOSE_BALLS_RECOVERED\",\"DEF_LOOSE_BALLS_RECOVERED\",\"LOOSE_BALLS_RECOVERED\",\"OFF_BOXOUTS\",\"DEF_BOXOUTS\",\"BOX_OUT_PLAYER_TEAM_REBS\",\"BOX_OUT_P[...]
