interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/homepageleaders?GameScope=Season&LeagueID=00&PlayerOrTeam=Team&PlayerScope=All+Players&Season=2025-26&SeasonType=Regular+Season&StatCategory=Points
  response:
    body:
      string: '{"resource":"homepageleaders","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","GameScope":"Season","PlayerScope":"All Players","PlayerOrTeam":"Team","StatCategory":"Points"},"resultSets":[{"name":"HomePageLeaders","headers":["RANK","TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","PTS","FG_PCT","FG3_PCT","FT_PCT","EFG_PCT","TS_PCT","PTS_PER48"],"rowSet":[[1,1610612743,"Denver
        Nuggets","DEN",120.9,0.496,0.396,0.809,0.575,0.616,119.6],[2,1610612748,"Miami
        Heat","MIA",120.0,0.463,0.361,0.786,0.535,0.572,119.8],[3,1610612739,"Cleveland
        Cavaliers","CLE",119.8,0.477,0.359,0.784,0.557,0.591,119.4],[4,1610612750,"Minnesota
        Timberwolves","MIN",119.7,0.483,0.375,0.744,0.563,0.595,119.1],[5,1610612760,"Oklahoma
        City Thunder","OKC",119.4,0.486,0.362,0.822,0.562,0.601,118.4]]},{"name":"LeagueAverage","headers":["PTS","FG_PCT","FG3_PCT","FT_PCT","EFG_PCT","TS_PCT","PTS_PER48"],"rowSet":[[115.5,0.469,0.358,0.784,0.543,0.58,114.8]]},{"name":"LeagueMax","headers":["PTS","FG_PCT","FG3_PCT","FT_PCT","EFG_PCT","TS_PCT","PTS_PER48"],"rowSet":[[120.9,0.5,0.396,0.832,0.575,0.616,119.8]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '3600.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '-1410.428'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
