interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoretraditionalv2?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"resource\":\"boxscore\",\"parameters\":{\"GameID\":\"0022200552\",\"StartPeriod\":0,\"EndPeriod\":0,\"StartRange\":0,\"EndRange\":0,\"RangeType\":0},\"resultSets\":[{\"name\":\"PlayerStats\",\"headers\":[\"GAME_ID\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"TEAM_CITY\",\"PLAYER_ID\",\"PLAYER_NAME\",\"NICKNAME\",\"START_POSITION\",\"COMMENT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"STL\",\"BLK\",\"TO\",\"PF\",\"PTS\",\"PLUS_MINUS\"],\"rowSet\":[[\"0022200552\",1610612741,\"CHI\",\"Chicago\",201942,\"DeMar
        DeRozan\",\"DeMar\",\"F\",\"\",\"45:55\",16,32,0.5,2,6,0.333,10,12,0.833,1,2,3,4,4,1,1,4,44,-9],[\"0022200552\",1610612741,\"CHI\",\"Chicago\",1630172,\"Patrick
        Williams\",\"Patrick\",\"F\",\"\",\"30:08\",4,10,0.4,2,7,0.286,0,0,0.0,0,5,5,2,1,0,0,3,10,-2],[\"0022200552\",1610612741,\"CHI\",\"Chicago\",202696,\"Nikola
        Vu\u010Devi\u0107\",\"Nikola\",\"C\",\"\",\"43:31\",6,8,0.75,2,4,0.5,6,7,0.857,1,12,13,2,0,0,1,[...]
