interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscorescoringv3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscorescoring?Format=json\",\"time\":\"2026-02-22T05:12:43.1243Z\"},\"boxScoreScoring\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"19:09\",\"percentageFieldGoalsAttempted2pt\":0.6,\"percentageFieldGoalsAttempted3pt\":0.4,\"percentagePoints2pt\":1.0,\"percentagePointsMidrange2pt\":0.0,\"percentagePoints3pt\":0.0,\"percentagePointsFastBreak\":0.0,\"percentagePointsFreeThrow\":0.0,\"percentagePointsOffTurnovers\":0.0,\"percentagePointsPaint\":1.0,\"percentageAssisted2pt\":1.0,\"percentageUnassisted2pt\":0.0,\"percentageAssisted3pt\":0.0,\"percentageUnassisted3pt\":0.0,\"percentageAssistedFGM\":1.0,\"percentageUnassistedFGM\":0.0}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"37:48\",\"percentageFieldGoalsAttempted2pt\":0.1,\"percentageFieldGoalsAttempted3pt\":0.9,\"percentagePoints2pt\":0.167,\"percentagePointsMidrange2pt\":0.0,\"percentagePoints3pt\":0.75,\"percentagePointsFastBreak\":0.0,\"percentagePointsFreeThrow\":0.083,\"percentagePointsOffTurn[...]
