interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/franchisehistory?LeagueID=00
  response:
    body:
      string: '{"resource":"franchisehistory","parameters":{"LeagueID":"00"},"resultSets":[{"name":"FranchiseHistory","headers":["LEAGUE_ID","TEAM_ID","TEAM_CITY","TEAM_NAME","START_YEAR","END_YEAR","YEARS","GAMES","WINS","LOSSES","WIN_PCT","PO_APPEARANCES","DIV_TITLES","CONF_TITLES","LEAGUE_TITLES"],"rowSet":[["00",1610612737,"Atlanta","Hawks","1949","2025",77,6079,2995,3084,0.493,49,12,0,1],["00",1610612737,"Atlanta","Hawks","1968","2025",58,4659,2296,2363,0.493,36,6,0,0],["00",1610612737,"St.
        Louis","Hawks","1955","1967",13,1008,555,453,0.551,12,6,0,1],["00",1610612737,"Milwaukee","Hawks","1951","1954",4,280,90,190,0.321,0,0,0,0],["00",1610612737,"Tri-Cities","Blackhawks","1949","1950",2,132,54,78,0.409,1,0,0,0],["00",1610612738,"Boston","Celtics","1946","2025",80,6252,3731,2520,0.597,62,3[...]
