interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playergamelog?DateFrom=&DateTo=&LeagueID=00&PlayerID=1628378&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"playergamelog","parameters":{"PlayerID":1628378,"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","DateFrom":null,"DateTo":null},"resultSets":[{"name":"PlayerGameLog","headers":["SEASON_ID","Player_ID","Game_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[["22025",1628378,"0022500802","Feb
        20, 2026","CLE @ CHA","W",34,9,22,0.409,2,7,0.286,12,13,0.923,0,3,3,4,2,0,3,5,32,-4,1],["22025",1628378,"0022500793","Feb
        19, 2026","CLE vs. BKN","W",21,7,12,0.583,2,4,0.5,1,1,1.0,0,3,3,5,0,0,2,0,17,37,1],["22025",1628378,"0022500776","Feb
        11, 2026","CLE vs. WAS","W",28,11,19,0.579,2,7,0.286,6,6,1.0,0,3,3,5,2,0,5,4,30,11,1],["22025",1628378,"0022500767","Feb
        09, 2026","CLE @ DEN","W",34,11,23,0.478,3,10,0.3,7,8,0.875,1,0,1,10,2,[...]
