interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashplayerclutch?AheadBehind=Ahead+or+Behind&ClutchTime=Last+5+Minutes&College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&PointDiff=5&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashplayerclutch\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"ClutchTime\":\"Last
        5 Minutes\",\"AheadBehind\":\"Ahead or Behind\",\"PointDiff\":5,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"GameScope\":null,\"PlayerExperience\":null,\"PlayerPosition\":null,\"StarterBench\":null,\"DraftYear\":null,\"DraftPick\":null,\"College\":null,\"Country\":null,\"Height\":null,\"Weight\":null,\"TwoWay\":0,\"GameSubtype\":\"\",\"ActiveRoster\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"LeagueDashPlayerClutch\",\"headers\":[\"GROUP_SET\",\"PLAYER_ID\",\"PLAYER_NAME\",\"NICKNAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"AGE\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\",\"NBA_FANTASY_PTS\",\"DD2\",\"TD3\",\"WNBA_FANTASY_PTS\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"FTM_RANK\",\"FTA_RANK\",\"FT_PCT_RANK\",\"OREB_RANK\",\"DREB_RANK\",\"REB_RANK\",\"AST_RANK\",\"TOV_RANK\",\"STL_RANK\",\"BLK_RANK\",\"BLKA_RANK\",\"PF_RANK\",\"PFD_RANK\",\"PTS_RANK\",\"PLUS_MINUS_RANK\",\"NBA_FANTASY_PTS_RANK\",\"DD2_RANK\",\"TD3_RANK\",\"WNBA_FANTASY_PTS_RANK\",\"TEAM_COUNT\"],\"rowSet\":[[\"Players\",1630639,\"A.J.
        Lawson\",\"A.J.\",1610612761,\"TOR\",25.0,1,1,0,1.0,0.25,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,2,0.0,0,0,0.0,401,349,1,1,429,328,366,328,214,304,214,271,284,271,258,331,350,296,257,226,163,1,1,304,344,174,386,180,22,387,1],[\"Players\",1631260,\"AJ
        Green\",\"AJ\",1610612749,\"MIL\",26.0,23,12,11,0.522,83.33166666666666,6,23,0.261,5,22,0.227,4,6,0.667,1,2,3,1,2,0,0,2,8,7,21,9,24.1,0,0,30.0,50,47,372,187,46,125,76,294,38,13,172,135,118,198,169,2[...]
