interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscorehustlev2?GameID=0022200552
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscorehustle?Format=json\",\"time\":\"2026-02-22T05:13:07.137Z\"},\"boxScoreHustle\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"statistics\":{\"minutes\":\"19:09\",\"points\":4,\"contestedShots\":9,\"contestedShots2pt\":6,\"contestedShots3pt\":3,\"deflections\":2,\"chargesDrawn\":0,\"screenAssists\":1,\"screenAssistPoints\":2,\"looseBallsRecoveredOffensive\":0,\"looseBallsRecoveredDefensive\":0,\"looseBallsRecoveredTotal\":0,\"offensiveBoxOuts\":0,\"defensiveBoxOuts\":2,\"boxOutPlayerTeamRebounds\":2,\"boxOutPlayerRebounds\":1,\"boxOuts\":2}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"0\",\"statistics\":{\"minutes\":\"37:48\",\"points\":12,\"contestedShots\":6,\"contestedShots2pt\":3,\"contestedShots3pt\":3,\"deflections\":1,\"chargesDrawn\":0,\"screenAssists\":4,\"screenAssistPoints\":10,\"looseBallsRecoveredOffensive\":0,\"looseBallsRecoveredDefensive\":0,\"looseBallsRecoveredTotal\":0,\"offe[...]
