interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaderstiles?GameScope=Season&LeagueID=00&PlayerOrTeam=Team&PlayerScope=All+Players&Season=2025-26&SeasonType=Regular+Season&Stat=PTS
  response:
    body:
      string: '{"resource":"leaderstiles","parameters":{"LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","GameScope":"Season","PlayerScope":"All Players","PlayerOrTeam":"Team","Stat":"PTS"},"resultSet":[{"name":"LeadersTiles","headers":["RANK","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","PTS"],"rowSet":[[1,1610612743,"DEN","Denver
        Nuggets",120.9],[2,1610612748,"MIA","Miami Heat",120.0],[3,1610612739,"CLE","Cleveland
        Cavaliers",119.8],[4,1610612750,"MIN","Minnesota Timberwolves",119.7],[5,1610612760,"OKC","Oklahoma
        City Thunder",119.4]]},{"name":"AllTimeSeasonHigh","headers":["TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","SEASON_YEAR","PTS"],"rowSet":[[1610612743,"DEN","Nuggets","1981-82",126.475]]},{"name":"LastSeasonHigh","headers":["RANK","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","PTS"],"rowSet":[[1,1610612739,"CLE","Cleveland
        Cavaliers",121.9],[2,1610612763,"MEM","Memphis Grizzlies",121.7],[3,1610612743,"DEN","Denver
        Nuggets",120.8],[4,1610612760,"OKC","Oklahoma City Thunder",120.5],[5,1610612737,"ATL","Atlanta
        Hawks",118.2]]},{"name":"LowSeasonHigh","headers":["TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","SEASON_YEAR","PTS"],"rowSet":[[1610610025,"CHS","Stags","1947-48",75.833]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '407.348'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
