interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamplayeronoffsummary?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"teamplayeronoffsummary\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdj\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"TeamID\":1610612739,\"Outcome\":null,\"Location\":null,\"MonthNum\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"GameSegment\":null,\"Period\":0,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"OverallTeamPlayerOnOffSummary\",\"headers\":[\"GROUP_SET\",\"GROUP_VALUE\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"TEAM_NAME\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"FTM_RANK\",\"FTA_RANK\",\"FT_PCT_RANK\",\"OREB_RANK\",\"DREB_RANK\",\"REB_RANK\",\"AST_RANK\",\"TOV_RANK\",\"STL_RANK\",\"BLK_RANK\",\"BLKA_RANK\",\"PF_RANK\",\"PFD_RANK\",\"PTS_RANK\",\"PLUS_MINUS_RANK\"],\"rowSet\":[[\"Overall\",\"2025-26\",1610612739,\"CLE\",\"Cleveland
        Cavaliers\",57,36,21,0.632,2746.0,2484,5203,0.477,831,2314,0.359,1030,1314,0.784,689,1858,2547,1625,821.0,513,294,249,1134,1150,6829,257.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]]},{\"name\":\"PlayersOnCourtTeamPlayerOnOffSummary\",\"headers\":[\"GROUP_SET\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"TEAM_NAME\",\"VS_PLAYER_ID\",\"VS_PLAYER_NAME\",\"COURT_STATUS\",\"GP\",\"MIN\",\"PLUS_MINUS\",\"OFF_RATING\",\"DEF_RATING\",\"[...]
