interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashlineups?Conference=&DateFrom=&DateTo=&Division=&GameSegment=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"leaguedashlineups\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":null,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"TeamID\":null,\"Conference\":null,\"Division\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"GroupQuantity\":5,\"ISTRound\":null},\"resultSets\":[{\"name\":\"Lineups\",\"headers\":[\"GROUP_SET\",\"GROUP_ID\",\"GROUP_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"GP\",\"W\",\"L\",\"W_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\",\"GP_RANK\",\"W_RANK\",\"L_RANK\",\"W_PCT_RANK\",\"MIN_RANK\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"FTM_RANK\",\"FTA_RANK\",\"FT_PCT_RANK\",\"OREB_RANK\",\"DREB_RANK\",\"REB_RANK\",\"AST_RANK\",\"TOV_RANK\",\"STL_RANK\",\"BLK_RANK\",\"BLKA_RANK\",\"PF_RANK\",\"PFD_RANK\",\"PTS_RANK\",\"PLUS_MINUS_RANK\",\"SUM_TIME_PLAYED\"],\"rowSet\":[[\"Lineups\",\"-203497-203944-1628978-1630162-1630183-\",\"R.
        Gobert - J. Randle - D. DiVincenzo - A. Edwards - J. McDaniels\",1610612750,\"MIN\",44,27,17,0.614,572.116667,540,1057,0.511,183,445,0.411,212,284,0.746,141,417,558,329,178.0,92,69,31,214,239,1475,112.0,1,1,13766,5502,1,1,1,4154,1,1,4013,1,1,4837,1,1,1,1,13766,1,1,13763,13766,1,1,3,1716350],[\"Lineups\",\"-202699-1629130-1630595-1631105-1641709-\",\"T.
        Harris - D. Robinson - C. Cunningham - J. Duren - A. Thompson\",16[...]
