interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playercareerbycollegerollup?LeagueID=00&PerMode=Totals&Season=&SeasonType=Regular+Season
  response:
    body:
      string: '{"resource":"playercareerbycollegerollup","parameters":{"LeagueID":"00","Season":null,"SeasonType":"Regular
        Season","PerMode":"Totals"},"resultSet":[{"name":"East","headers":["REGION","SEED","COLLEGE","PLAYERS","GP","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[["East",1,"Villanova",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",2,"Duke",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",3,"Baylor",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",4,"Florida",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",5,"Virginia",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",6,"Southern
        Methodist",0,0,0.0,0,0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0],["East",7,"South
        Carolina",0,0,0.0,0,0,0.0,0,0,[...]
