interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/commonteamyears?LeagueID=00
  response:
    body:
      string: '{"resource":"commonteamyears","parameters":{"LeagueID":"00"},"resultSets":[{"name":"TeamYears","headers":["LEAGUE_ID","TEAM_ID","MIN_YEAR","MAX_YEAR","ABBREVIATION"],"rowSet":[["00",1610610023,"1949","1949",null],["00",1610610024,"1947","1954",null],["00",1610610025,"1946","1949",null],["00",1610610026,"1946","1946",null],["00",1610610027,"1949","1949",null],["00",1610610028,"1946","1946",null],["00",1610610029,"1948","1948",null],["00",1610610030,"1949","1952",null],["00",1610610031,"1946","1946",null],["00",1610610032,"1946","1948",null],["00",1610610033,"1949","1949",null],["00",1610610034,"1946","1949",null],["00",1610610035,"1946","1946",null],["00",1610610036,"[...]
