interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/commonteamroster?LeagueID=00&Season=2025-26&TeamID=1610612739
  response:
    body:
      string: "{\"resource\":\"commonteamroster\",\"parameters\":{\"TeamID\":1610612739,\"LeagueID\":\"00\",\"Season\":\"2025-26\"},\"resultSets\":[{\"name\":\"CommonTeamRoster\",\"headers\":[\"TeamID\",\"SEASON\",\"LeagueID\",\"PLAYER\",\"NICKNAME\",\"PLAYER_SLUG\",\"NUM\",\"POSITION\",\"HEIGHT\",\"WEIGHT\",\"BIRTH_DATE\",\"AGE\",\"EXP\",\"SCHOOL\",\"PLAYER_ID\",\"HOW_ACQUIRED\"],\"rowSet\":[[1610612739,\"2025\",\"00\",\"Darius
        Brown\",\"Darius\",\"darius-brown\",null,\"G\",\"6-2\",\"192\",\"JUL 28, 1999\",26.0,\"R\",\"Utah
        State\",1642468,\"Signed on 10/14/24\"],[1610612739,\"2025\",\"00\",\"James
        Harden\",\"James\",\"james-harden\",\"1\",\"G\",\"6-5\",\"220\",\"AUG 26,
        1989\",36.0,\"16\",\"Arizona State\",201935,\"Traded from LAC on 02/04/26\"],[1610612739,\"2025\",\"00\",\"Max
        Strus\",\"Max\",\"max-strus\",\"2\",\"G-F\",\"6-5\",\"215\",\"M[...]
