interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/matchupsrollup?DefPlayerID=&LeagueID=00&OffPlayerID=&PerMode=Totals&Season=2025-26&SeasonType=Regular+Season
  response:
    body:
      string: "{\"resource\":\"matchupsrollup\",\"parameters\":{\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PerMode\":\"Totals\",\"DefTeamID\":0,\"OffTeamID\":0,\"DefPlayerID\":0,\"OffPlayerID\":0},\"resultSets\":[{\"name\":\"MatchupsRollup\",\"headers\":[\"SEASON_ID\",\"POSITION\",\"PERCENT_OF_TIME\",\"DEF_PLAYER_ID\",\"DEF_PLAYER_NAME\",\"GP\",\"MATCHUP_MIN\",\"PARTIAL_POSS\",\"PLAYER_PTS\",\"TEAM_PTS\",\"MATCHUP_AST\",\"MATCHUP_TOV\",\"MATCHUP_BLK\",\"MATCHUP_FGM\",\"MATCHUP_FGA\",\"MATCHUP_FG_PCT\",\"MATCHUP_FG3M\",\"MATCHUP_FG3A\",\"MATCHUP_FG3_PCT\",\"MATCHUP_FTM\",\"MATCHUP_FTA\",\"SFL\"],\"rowSet\":[[\"22025\",\"C\",0.0983423946368,2544,\"LeBron
        James\",30,\"48:07\",245.2,46,299,13,7,0,23,41,0.561,0,4,0.0,0,0,0],[\"22025\",\"G\",0.3980909945632,2544,\"LeBron
        James\",37,\"194:46\",1018.7,182,1192,61,20,8,74,165,0.448,30,80,0.375,4,7,4],[\"22025\",\"F\",0.5035666108,2544,\"LeBron
        James\",37,\"246:23\",1238.2,180,1340,36,19,6,76,155,0.49,21,66,0.318,7,10,6],[\"22025\",\"TOTAL\",1.0,2544,\"LeBron
        James\",37,\"489:16\",2502.1,408,2831,110,46,14,173,361,0.479,51,1[...]
