interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoredefensivev2?GameID=0022200552
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoredefensive?Format=json\",\"time\":\"2026-02-22T05:12:31.1231Z\"},\"boxScoreDefensive\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"8\",\"statistics\":{\"matchupMinutes\":\"7:04\",\"partialPossessions\":40.2,\"switchesOn\":0,\"playerPoints\":17,\"defensiveRebounds\":1,\"matchupAssists\":2,\"matchupTurnovers\":0,\"steals\":0,\"blocks\":0,\"matchupFieldGoalsMade\":8,\"matchupFieldGoalsAttempted\":12,\"matchupFieldGoalPercentage\":0.667,\"matchupThreePointersMade\":1,\"matchupThreePointersAttempted\":3,\"matchupThreePointerPercentage\":0.333}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"0\",\"statistics\":{\"matchupMinutes\":\"14:09\",\"partialPossessions\":77.1,\"switchesOn\":0,\"playerPoints\":18,\"defensiveRebounds\":16,\"matchupAssists\":3,\"matchupTurnovers\":0,\"steals\":0,\"blocks\":0,\"matchupFieldGoalsMade\":6,\"matchupFieldGoalsAttempted\":15,\"matchupFieldGoalPercentage\":0.4,\"mat[...]
