interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashplayershotlocations?College=&Conference=&Country=&DateFrom=&DateTo=&DistanceRange=By+Zone&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: "{\"resource\":\"leaguedashplayershotlocations\",\"parameters\":{\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"DistanceRange\":\"By
        Zone\",\"College\":null,\"Conference\":null,\"Country\":null,\"DateFrom\":null,\"DateTo\":null,\"Division\":null,\"DraftPick\":null,\"DraftYear\":null,\"GameScope\":null,\"GameSegment\":null,\"Height\":null,\"ISTRound\":null,\"LastNGames\":0,\"Location\":null,\"Month\":0,\"OpponentTeamID\":0,\"Outcome\":null,\"PORound\":null,\"PaceAdjust\":\"N\",\"Period\":0,\"PlayerExperience\":null,\"PlayerPosition\":null,\"PlusMinus\":\"N\",\"Rank\":\"N\",\"SeasonSegment\":null,\"ShotClockRange\":null,\"StarterBench\":null,\"TeamID\":null,\"VsConference\":null,\"VsDivision\":null,\"Weight\":null},\"resultSets\":{\"name\":\"ShotLocations\",\"headers\":[{\"name\":\"SHOT_CATEGORY\",\"columnsToSkip\":6,\"columnSpan\":3,\"columnNames\":[\"Restricted
        Area\",\"In The Paint (Non-RA)\",\"Mid-Range\",\"Left Corner 3\",\"Right Corner
        3\",\"Above the Break 3\",\"Backcourt\",\"Corner 3\"]},{\"name\":\"columns\",\"columnSpan\":1,\"columnNames\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"TEAM_ID\",\"TEAM_ABBREVIATION\",\"AGE\",\"NICKNAME\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\",\"FGM\",\"FGA\",\"FG_PCT\"]}],\"rowSet\":[[1630639,\"A.J.
        Lawson\",1610612761,\"TOR\",25.0,\"A.J.\",7,14,0.5,1,5,0.2,0,0,0.0,4,9,0.444,1,6,0.167,3,7,0.429,0,0,0.0,5,15,0.333],[1631260,\"AJ
        Green\",1610612749,\"MIL\",26.0,\"AJ\",8,13,0.615,8,13,0.615,5,15,0.333,28,57,0.491,26,49,0.531,97,248,0.391,0,0,0.0,54,106,0.509],[1642358,\"AJ
        Johnson\",1610612742,\"DAL\",21.0,\"AJ\",14,36,0.389,7,24,0.292,0,3,0.0,0,0,0.0,1,4,0.25,6,23,0.261,0,0,0.0,1,4,0.25],[203932,\"Aaron
        Gordon\",1610612743,\"DEN\",30.0,\"Aaron\[...]
