interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashptteamdefend?Conference=&DateFrom=&DateTo=&DefenseCategory=Overall&Division=&GameSegment=&LastNGames=&LeagueID=00&Location=&Month=&OpponentTeamID=&Outcome=&PORound=&PerMode=Totals&Period=&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashptteamdefend","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","TeamID":null,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"GameSegment":null,"Period":null,"LastNGames":null,"PORound":null,"DefenseCategory":"Overall","ISTRound":null},"resultSets":[{"name":"LeagueDashPtTeamDefend","headers":["TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","GP","G","FREQ","D_FGM","D_FGA","D_FG_PCT","NORMAL_FG_PCT","PCT_PLUSMINUS"],"rowSet":[[1610612760,"Oklahoma
        City Thunder","OKC",57,57,1.0,2177,5011,0.434,0.467,-0.033],[1610612765,"Detroit
        Pistons","DET",54,54,1.0,2015,4565,0.441,0.467,-0.025],[1610612738,"Boston
        Celtics","BOS",55,55,1.0,2118,4772,0.444,0.467,-0.023],[1610612759,"San Antonio
        Spurs","SAS",55,55,1.0,2255,4967,0.454,0.47,-0.016],[1610612745,"Houston Rockets","HOU",54,54,1.0,2165,4735,0.457,0.469,-0.012],[1610612748,"Miami
        Heat","MIA",57,57,1.0,2429,5320,0.457,0.469,-0.012],[1[...]
