interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/draftcombineplayeranthro?LeagueID=00&SeasonYear=2025
  response:
    body:
      string: "{\"resource\":\"draftcombineplayeranthro\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025\"},\"resultSets\":[{\"name\":\"Results\",\"headers\":[\"TEMP_PLAYER_ID\",\"PLAYER_ID\",\"FIRST_NAME\",\"LAST_NAME\",\"PLAYER_NAME\",\"POSITION\",\"HEIGHT_WO_SHOES\",\"HEIGHT_WO_SHOES_FT_IN\",\"HEIGHT_W_SHOES\",\"HEIGHT_W_SHOES_FT_IN\",\"WEIGHT\",\"WINGSPAN\",\"WINGSPAN_FT_IN\",\"STANDING_REACH\",\"STANDING_REACH_FT_IN\",\"BODY_FAT_PCT\",\"HAND_LENGTH\",\"HAND_WIDTH\"],\"rowSet\":[[1641891,1641891,\"Izan\",\"Almansa\",\"Izan
        Almansa\",\"C\",81.25,\"6' 9.25''\",null,null,\"220.40\",85.75,\"7' 1.75''\",109.5,\"9'
        1.50''\",null,9.25,9.5],[1642921,1642921,\"Neoklis\",\"Avdalas\",\"Neoklis
        Avdalas\",\"SF\",79.5,\"6' 7.50''\",null,null,\"197.80\",81.0,\"6' 9.00''\",104.5,\"8'
        8.50''\",null,8.25,9.75],[1642846,1642846,\"Ace\",\"Bailey\",\"Ace Bailey\",\"SF-PF\",79.5,\"6'
        7.50''\",null,null,\"202.80\",84.5,\"7' 0.50''\",107.0,\"8' 11.00''\[...]
