interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerdashptreb?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Period=0&PlayerID=1628378&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"playerdashptreb","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PlayerID":1628378,"TeamID":1610612739,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null},"resultSets":[{"name":"OverallRebounding","headers":["PLAYER_ID","PLAYER_NAME_LAST_FIRST","G","OVERALL","REB_FREQUENCY","OREB","DREB","REB","C_OREB","C_DREB","C_REB","C_REB_PCT","UC_OREB","UC_DREB","UC_REB","UC_REB_PCT"],"rowSet":[[1628378,"Mitchell,
        Donovan",52,"Overall",1.0,40,194,234,15,33,48,0.205,25,161,186,0.795]]},{"name":"ShotTypeRebounding","headers":["PLAYER_ID","PLAYER_NAME_LAST_FIRST","SORT_ORDER","G","SHOT_TYPE_RANGE","REB_FREQUENCY","OREB","DREB","REB","C_OREB","C_DREB","C_REB","C_REB_PCT","UC_OREB","UC_DREB","UC_REB","UC_REB_PCT"],"rowSet":[[1628378,"Mitchell,
        Donovan",2,52,"Miss 2FG",0.449,17,88,105,10,15,25,0.238,7,73,80,0.762],[1628378,"Mitchell,
        Donovan",3,52,"Miss 3FG",0.538,23[...]
