interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashptstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=&PerMode=Totals&PlayerExperience=&PlayerOrTeam=Team&PlayerPosition=&PtMeasureType=SpeedDistance&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&StarterBench=&TeamID=&VsConference=&VsDivision=&Weight=
  response:
    body:
      string: '{"resource":"leaguedashptstats","parameters":{"PtMeasureType":"SpeedDistance","PerMode":"Totals","LeagueID":"00","Season":"2025-26","SeasonType":"Regular
        Season","PORound":null,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"VsConference":null,"VsDivision":null,"TeamID":null,"Conference":null,"Division":null,"GameScope":null,"PlayerExperience":null,"PlayerPosition":null,"StarterBench":null,"DraftYear":null,"DraftPick":null,"College":null,"Country":null,"Height":null,"Weight":null,"PlayerOrTeam":"Team","ISTRound":null},"resultSets":[{"name":"LeagueDashPtStats","headers":["TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GP","W","L","MIN","DIST_FEET","DIST_MILES","DIST_MILES_OFF","DIST_MILES_DEF","AVG_SPEED","AVG_SPEED_OFF","AVG_SPEED_DEF"],"rowSet":[[1610612737,"ATL","Atlanta
        Hawks",58,27,31,13970.0,5619321,1064.3,562.3,502.0,4.49,4.94,4.08],[1610612738,"BOS","Boston
        Celtics",55,36,19,13250.0,5139906,973.5,535.2,438.2,4.34,4.55,4.11],[1610612751,"BKN","Brooklyn
        Nets",55,15,40,13275.0,5223060,989.2,530.8,458.5,4.38,4.63,4.12],[1610612766,"CHA","Charlotte
        Hornets",57,26,31,13755.0,5443471,1031.0,569.2,461.7,4.41,4.68,4.11],[1610612741,"CHI","Chicago
        Bulls",56,24,32,13490.0,5350641,1013.4,539.3,474.1,4.[...]
