interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/gamerotation?GameID=0022200552&LeagueID=00
  response:
    body:
      string: '{"resource":"gamerotation","parameters":{"GameID":"0022200552","LeagueID":"00"},"resultSets":[{"name":"AwayTeam","headers":["GAME_ID","TEAM_ID","TEAM_CITY","TEAM_NAME","PERSON_ID","PLAYER_FIRST","PLAYER_LAST","IN_TIME_REAL","OUT_TIME_REAL","PLAYER_PTS","PT_DIFF","USG_PCT"],"rowSet":[["0022200552",1610612741,"Chicago","Bulls",201609,"Goran","Dragic",7200.0,11840.0,2,6.0,0.118],["0022200552",1610612741,"Chicago","Bulls",201609,"Goran","Dragic",19550.0,21471.0,0,-4.0,0.125],["0022200552",1610612741,"Chicago","Bulls",201942,"DeMar","DeRozan",0.0,4270.0,9,7.0,0.333],["0022200552",1610612741,"Chicago","Bulls",201942,"DeMar","DeRozan",5720.0,9790.0,5,7.0,0.375],["0022200552",1610612741,"Chicago","Bulls",201942,"DeMar","DeRozan",11840.0,18800.0,10,-3.0,0.385],["0022200552",1610612[...]
