interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/infographicfanduelplayer?GameID=0022200552
  response:
    body:
      string: "{\"resource\":\"infographicfanduelplayer\",\"parameters\":{\"gameId\":\"0022200552\"},\"resultSets\":[{\"name\":\"FanDuelPlayer\",\"headers\":[\"PLAYER_ID\",\"PLAYER_NAME\",\"TEAM_ID\",\"TEAM_NAME\",\"TEAM_ABBREVIATION\",\"JERSEY_NUM\",\"PLAYER_POSITION\",\"LOCATION\",\"FAN_DUEL_PTS\",\"NBA_FANTASY_PTS\",\"USG_PCT\",\"MIN\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"FTM\",\"FTA\",\"FT_PCT\",\"OREB\",\"DREB\",\"REB\",\"AST\",\"TOV\",\"STL\",\"BLK\",\"BLKA\",\"PF\",\"PFD\",\"PTS\",\"PLUS_MINUS\"],\"rowSet\":[[1628378,\"Donovan
        Mitchell\",1610612739,\"Cleveland Cavaliers\",\"CLE\",\"45\",\"G\",\"Home\",95.1,96.1,0.409,49.8,22,34,0.647,7,15,0.467,20,25,0.8,3,5,8,11,4,0,1,0,3,19,71,19],[1628386,\"Jarrett
        Allen\",1610612739,\"Cleveland Cavaliers\",\"CLE\",\"31\",\"C\",\"Home\",34.6,35.6,0.143,38.6,9,10,0.9,0,0,0.0,3,6,0.5,6,2,8,2,1,0,1,1,4,4,21,11],[201567,\"Kevin
        Love\",1610612739,\"Cleveland Cavaliers\",\"CLE\",\"0\",\"F-C\",\"Home\",34.4,34.4,0.136,37.8,4,10,0.4,3,9,0.333,1,2[...]
