interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerdashboardbyshootingsplits?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerID=1628378&PlusMinus=N&Rank=N&Season=2025-26&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&VsConference=&VsDivision=
  response:
    body:
      string: "{\"resource\":\"playerdashboardbyshootingsplits\",\"parameters\":{\"MeasureType\":\"Base\",\"PerMode\":\"Totals\",\"PlusMinus\":\"N\",\"PaceAdjust\":\"N\",\"Rank\":\"N\",\"LeagueID\":\"00\",\"Season\":\"2025-26\",\"SeasonType\":\"Regular
        Season\",\"PORound\":0,\"PlayerID\":1628378,\"Outcome\":null,\"Location\":null,\"Month\":0,\"SeasonSegment\":null,\"DateFrom\":null,\"DateTo\":null,\"OpponentTeamID\":0,\"VsConference\":null,\"VsDivision\":null,\"GameSegment\":null,\"Period\":0,\"ShotClockRange\":null,\"LastNGames\":0,\"ISTRound\":null},\"resultSets\":[{\"name\":\"OverallPlayerDashboard\",\"headers\":[\"GROUP_SET\",\"GROUP_VALUE\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"EFG_PCT\",\"BLKA\",\"PCT_AST_2PM\",\"PCT_UAST_2PM\",\"PCT_AST_3PM\",\"PCT_UAST_3PM\",\"PCT_AST_FGM\",\"PCT_UAST_FGM\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"EFG_PCT_RANK\",\"BLKA_RANK\",\"PCT_AST_2PM_RANK\",\"PCT_UAST_2PM_RANK\",\"PCT_AST_3PM_RANK\",\"PCT_UAST_3PM_RANK\",\"PCT_AST_FGM_RANK\",\"PCT_UAST_FGM_RANK\"],\"rowSet\":[[\"Overall\",\"2025-26\",532,1094,0.486,189,503,0.376,0.573,33,0.251,0.749,0.614,0.386,0.38,0.62,1,1,1,1,1,1,1,1,1,1,1,1,1,1]]},{\"name\":\"Shot5FTPlayerDashboard\",\"headers\":[\"GROUP_SET\",\"GROUP_VALUE\",\"FGM\",\"FGA\",\"FG_PCT\",\"FG3M\",\"FG3A\",\"FG3_PCT\",\"EFG_PCT\",\"BLKA\",\"PCT_AST_2PM\",\"PCT_UAST_2PM\",\"PCT_AST_3PM\",\"PCT_UAST_3PM\",\"PCT_AST_FGM\",\"PCT_UAST_FGM\",\"FGM_RANK\",\"FGA_RANK\",\"FG_PCT_RANK\",\"FG3M_RANK\",\"FG3A_RANK\",\"FG3_PCT_RANK\",\"EFG_PCT_RANK\",\"BLKA_RAN[...]
