interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoreusagev3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoreusage?Format=json\",\"time\":\"2026-02-22T05:12:35.1235Z\"},\"boxScoreUsage\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"19:09\",\"usagePercentage\":0.122,\"percentageFieldGoalsMade\":0.154,\"percentageFieldGoalsAttempted\":0.161,\"percentageThreePointersMade\":0.0,\"percentageThreePointersAttempted\":0.143,\"percentageFreeThrowsMade\":0.0,\"percentageFreeThrowsAttempted\":0.0,\"percentageReboundsOffensive\":0.0,\"percentageReboundsDefensive\":0.071,\"percentageReboundsTotal\":0.067,\"percentageAssists\":0.222,\"percentageTurnovers\":0.0,\"percentageSteals\":0.0,\"percentageBlocks\":0.0,\"percentageBlocksAllowed\":0.0,\"percentagePersonalFouls\":0.0,\"percentagePersonalFoulsDrawn\":0.0,\"percentagePoints\":0.103}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"37:48\",\"usagePercentage\":0.136,\"percentageFieldGoalsMade\":0.114,\"percentageFieldGoalsAttempted\":0.145,\"percentageThreePointersMade\":0.273,\"percentageThreePointersAttempted\":0.265,\"percentageFreeThrowsMade\":0.059,\"percentageFreeThrowsAttempted\":0.08,\"percentageRe[...]
