interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/draftcombinenonstationaryshooting?LeagueID=00&SeasonYear=2025
  response:
    body:
      string: "{\"resource\":\"draftcombinenonstationaryshooting\",\"parameters\":{\"LeagueID\":\"00\",\"SeasonYear\":\"2025\"},\"resultSets\":[{\"name\":\"Results\",\"headers\":[\"TEMP_PLAYER_ID\",\"PLAYER_ID\",\"FIRST_NAME\",\"LAST_NAME\",\"PLAYER_NAME\",\"POSITION\",\"OFF_DRIB_FIFTEEN_BREAK_LEFT_MADE\",\"OFF_DRIB_FIFTEEN_BREAK_LEFT_ATTEMPT\",\"OFF_DRIB_FIFTEEN_BREAK_LEFT_PCT\",\"OFF_DRIB_FIFTEEN_TOP_KEY_MADE\",\"OFF_DRIB_FIFTEEN_TOP_KEY_ATTEMPT\",\"OFF_DRIB_FIFTEEN_TOP_KEY_PCT\",\"OFF_DRIB_FIFTEEN_BREAK_RIGHT_MADE\",\"OFF_DRIB_FIFTEEN_BREAK_RIGHT_ATTEMPT\",\"OFF_DRIB_FIFTEEN_BREAK_RIGHT_PCT\",\"OFF_DRIB_COLLEGE_BREAK_LEFT_MADE\",\"OFF_DRIB_COLLEGE_BREAK_LEFT_ATTEMPT\",\"OFF_DRIB_COLLEGE_BREAK_LEFT_PCT\",\"OFF_DRIB_COLLEGE_TOP_KEY_MADE\",\"OFF_DRIB_COLLEGE_TOP_KEY_ATTEMPT\",\"OFF_DRIB_COLLEGE_TOP_KEY_PCT\",\"OFF_DRIB_COLLEGE_BREAK_RIGHT_MADE\",\"OFF_DRIB_COLLEGE_BREAK_RIGHT_ATTEMPT\",\"OFF_DRIB_COLLEGE_BREAK_RIGHT_PCT\",\"ON_MOVE_FIFTEEN_MADE\",\"ON_MOVE_FIFTEEN_ATTEMPT\",\"ON_MOVE_FIFTEEN_PCT\",\"ON_MOVE_COLLEGE_MADE\",\"ON_MOVE_COLLEGE_ATTEMPT\",\"ON_MOVE_COLLEGE_PCT\"],\"rowSet\":[[1641891,1641891,\"Izan\",\"Almansa\",\"Izan
        Almansa\",\"C\",null,null,null,null,null,null,null,null,null,13,30,0.433,null,null,null,null,null,null,null,null,null,8,25,0.32],[1642921,1642921,\"Neoklis\",\"Avdalas\",\"Neoklis
        Avdalas\",\"SF\",null,null,null,null,null,null,null,null,null,19,30,0.633,null,null,null,null,null,null,null,null,null,11,25,0.44],[1642846,1642846,\"Ace\",\"Bailey\",\"Ace
        Bailey\",\"SF-PF\",null,null,null,null,null,null,null,null,null,21,30,0.7,nul[...]
