interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoretraditionalv3?EndPeriod=0&EndRange=0&GameID=0022200552&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/games/0022200552/boxscoretraditional?Format=json\",\"time\":\"2025-02-17T16:51:47.5147Z\"},\"boxScoreTraditional\":{\"gameId\":\"0022200552\",\"awayTeamId\":1610612741,\"homeTeamId\":1610612739,\"homeTeam\":{\"teamId\":1610612739,\"teamCity\":\"Cleveland\",\"teamName\":\"Cavaliers\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"players\":[{\"personId\":1630205,\"firstName\":\"Lamar\",\"familyName\":\"Stevens\",\"nameI\":\"L.
        Stevens\",\"playerSlug\":\"lamar-stevens\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"19:09\",\"fieldGoalsMade\":2,\"fieldGoalsAttempted\":5,\"fieldGoalsPercentage\":0.4,\"threePointersMade\":0,\"threePointersAttempted\":2,\"threePointersPercentage\":0.0,\"freeThrowsMade\":0,\"freeThrowsAttempted\":0,\"freeThrowsPercentage\":0.0,\"reboundsOffensive\":0,\"reboundsDefensive\":1,\"reboundsTotal\":1,\"assists\":2,\"steals\":0,\"blocks\":0,\"turnovers\":0,\"foulsPersonal\":0,\"points\":4,\"plusMinusPoints\":-6.0}},{\"personId\":201567,\"firstName\":\"Kevin\",\"familyName\":\"Love\",\"nameI\":\"K.
        Love\",\"playerSlug\":\"kevin-love\",\"position\":\"F\",\"comment\":\"\",\"jerseyNum\":\"\",\"statistics\":{\"minutes\":\"37:48\",\"fieldGoalsMade\":4,\"fieldGoalsAttempted\":10,\"fieldGoalsPercentage\":0.4,\"threePointersMade\":3,\"threePointersAttempted\":9,\"threePointersPercentage\":0.333,\"freeThrowsMade\":1,\"freeThrowsAttempted\":2,\"freeThrowsPercentage\":0.5,\"reboundsOffensive\":1,\"rebou[...]
