interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/scoreboardv2?DayOffset=0&GameDate=2026-02-22&LeagueID=00
  response:
    body:
      string: '{"resource":"scoreboardV2","parameters":{"LeagueID":"00","GameDate":"02/22/2026","DayOffset":0},"resultSets":[{"name":"GameHeader","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","HOME_TV_BROADCASTER_ABBREVIATION","AWAY_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","ARENA_NAME","WH_STATUS","WNBA_COMMISSIONER_FLAG"],"rowSet":[["2026-02-22T00:00:00",1,"0022500817",1,"1:00
        pm ET","20260222/CLEOKC",1610612760,1610612739,"2025",0,"","ABC",null,null,"Q0
        - ABC","Paycom Center",0,0],["2026-02-22T00:00:00",2,"0022500818",1,"3:30
        pm ET","20260222/BKNATL",1610612737,1610612751,"2025",0,"",null,"FDSNSE-ATL","YES",null,"State
        Farm Arena",0,0],["2026-02-22T00:00:00",3,"0022500819",1,"3:30 pm ET","20260222/TORMIL",1610612749,1610612761,"2025",0,"",null,"FDSNWI","TSN",null,"Fiserv
        Forum",0,0[...]
