interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/shotchartdetail?AheadBehind=&ClutchTime=&ContextFilter=&ContextMeasure=PTS&DateFrom=&DateTo=&EndPeriod=&EndRange=&GameID=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&Period=0&PlayerID=1628378&PlayerPosition=&PointDiff=&Position=&RangeType=&RookieYear=&Season=&SeasonSegment=&SeasonType=Regular+Season&StartPeriod=&StartRange=&TeamID=1610612739&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"shotchartdetail","parameters":{"LeagueID":"00","Season":null,"SeasonType":"Regular
        Season","TeamID":1610612739,"PlayerID":1628378,"GameID":null,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"Position":null,"RookieYear":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null,"ClutchTime":null,"AheadBehind":null,"PointDiff":null,"RangeType":null,"StartPeriod":null,"EndPeriod":null,"StartRange":null,"EndRange":null,"ContextFilter":null,"ContextMeasure":"PTS"},"resultSets":[{"name":"Shot_Chart_Detail","headers":["GRID_TYPE","GAME_ID","GAME_EVENT_ID","PLAYER_ID","PLAYER_NAME","TEAM_ID","TEAM_NAME","PERIOD","MINUTES_REMAINING","SECONDS_REMAINING","EVENT_TYPE","ACTION_TYPE","SHOT_TYPE","SHOT_ZONE_BASIC","SHOT_ZONE_AREA","SHOT_ZONE_RANGE","SHOT_DISTANCE","LOC_X","LOC_Y","SHOT_ATTEMPTED_FLAG","SHOT_MADE_FLAG","GAME_DATE","HTM","VTM"],"rowSet":[["Shot
        Chart Detail","0022500003",18,1628378,"Donovan Mitchell",1610612739,"Cleveland
        Cavaliers",1,10,44,"Made Shot","Driving Layup Shot","2PT Field Goal","Restricted
        Area","Center(C)","Less Than 8 ft.",1,10,8,1,1,"20251022","NYK","CLE"],["Shot
        Chart Detail","0022500003",145,1628378,"Donovan Mitchell",1610612739,"Cleveland
        Cavaliers",1,0,9,"Made Shot","Pullup Jump shot","2PT Field Goal","Mid-Range","Center(C)","8-16
        ft.",14,-20,147,1,1,"20251022",[...]
