version: 2.1
      
orbs:
  snyk: snyk/snyk@1.4.0
  
jobs:
  main:
    parameters:
      image: 
        type: string
      circle_pr_number:
        type: string
        default: $CIRCLE_PR_NUMBER
    
    docker: 
      - image: <<parameters.image>>
    
    steps: 
      - checkout
      # - run: poetry install
      - run: echo <<parameters.circle_pr_number>>
      - when:
          condition:
            matches:
              pattern: \d
              value: <<parameters.circle_pr_number>>
          steps:
            - run: echo "snyk"
            # - snyk/scan
      # - run: poetry run pytest
      # - run: poetry run flake8

workflows:
  build:
    jobs:
      - main:
          matrix:
            parameters:
              image: [
                "cimg/python:3.8",
                "cimg/python:3.9",
                "cimg/python:3.10"
              ]
     