version: 2.1
      
orbs:
  snyk: snyk/snyk@1.4.0
  
jobs:
  main:
    parameters:
      image: 
        type: string
    
    docker: 
      - image: <<parameters.image>>
    
    steps: 
      - checkout
      - run: poetry install
      - run: echo $CIRCLE_PR_NUMBER
      - when:
        condition: $CIRCLE_PR_NUMBER
          steps:
            - snyk/scan
      - run: poetry run pytest
      - run: poetry run flake8

workflows:
  build:
    jobs:
      - main:
          matrix:
            parameters:
              image: [
                "cimg/python:3.8",
                "cimg/python:3.9",
                "cimg/python:3.10"
              ]
     