interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguegamefinder?Conference=&DateFrom=&DateTo=&Division=&DraftNumber=&DraftRound=&DraftTeamID=&DraftYear=&EqAST=&EqBLK=&EqDD=&EqDREB=&EqFG3A=&EqFG3M=&EqFG3_PCT=&EqFGA=&EqFGM=&EqFG_PCT=&EqFTA=&EqFTM=&EqFT_PCT=&EqMINUTES=&EqOREB=&EqPF=&EqPTS=&EqREB=&EqSTL=&EqTD=&EqTOV=&GameID=&GtAST=&GtBLK=&GtDD=&GtDREB=&GtFG3A=&GtFG3M=&GtFG3_PCT=&GtFGA=&GtFGM=&GtFG_PCT=&GtFTA=&GtFTM=&GtFT_PCT=&GtMINUTES=&GtOREB=&GtPF=&GtPTS=&GtREB=&GtSTL=&GtTD=&GtTOV=&LeagueID=00&Location=&LtAST=&LtBLK=&LtDD=&LtDREB=&LtFG3A=&LtFG3M=&LtFG3_PCT=&LtFGA=&LtFGM=&LtFG_PCT=&LtFTA=&LtFTM=&LtFT_PCT=&LtMINUTES=&LtOREB=&LtPF=&LtPTS=&LtREB=&LtSTL=&LtTD=&LtTOV=&Outcome=&PORound=&PlayerID=&PlayerOrTeam=T&RookieYear=&Season=2023-24&SeasonSegment=&SeasonType=Regular+Season&StarterBench=&TeamID=&VsConference=&VsDivision=&VsTeamID=&YearsExperience=
  response:
    body:
      string: '{"resource":"leaguegamefinderparameters","parameters":{"PlayerOrTeam":"T","LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","DateFrom":null,"DateTo":null,"TeamID":null,"VsTeamID":null,"PlayerID":null,"GameID":null,"Outcome":null,"Location":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"DraftYear":null,"DraftNumber":null,"DraftRound":null,"DraftTeam":"","RookieYear":null,"YearsExperience":null,"SeasonSegment":null,"PORound":null,"StarterBench":null,"GtPts":null,"GtReb":null,"GtAst":null,"GtStl":null,"GtBlk":null,"GtOreb":null,"GtDreb":null,"GtDd":null,"GtTd":null,"GtMinutes":null,"GtTov":null,"GtPf":null,"GtFgm":null,"GtFga":null,"GtFgPct":null,"GtFtm":null,"GtFta":null,"GtFtPct":null,"GtFg3m":null,"GtFg3a":null,"GtFg3Pct":null,"LtPts":null,"LtReb":null,"LtAst":null,"LtStl":null,"LtBlk":null,"LtOreb":null,"LtDreb":null,"LtDd":null,"LtTd":null,"LtMinutes":null,"LtTov":null,"LtPf":null,"LtFgm":null,"LtFga":null,"LtFgPct":null,"LtFtm":null,"LtFta":null,"LtFtPct":null,"LtFg3m":null,"LtFg3a":null,"LtFg3Pct":null,"EqPts":null,"EqReb":null,"EqAst":null,"EqStl":null,"EqBlk":null,"EqOreb":null,"EqDreb":null,"EqDd":null,"EqTd":null,"EqMinutes":null,"EqTov":null,"EqPf":null,"EqFgm":null,"EqFga":null,"EqFgPct":null,"EqFtm":null,"EqFta":null,"EqFtPct":null,"EqFg3m":null,"EqFg3a":null,"EqFg3Pct":null,"ActivePlayersOnly":""},"resultSets":[{"name":"LeagueGameFinderResults","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PLUS_MINUS"],"rowSet":[["22023",1610612754,"IND","Indiana
        Pacers","0022301188","2024-04-14","IND vs. ATL","W",239,157,65,100,0.65,19,36,0.528,8,10,0.8,12,36,48,41,10,6,14,24,42.0],["22023",1610612751,"BKN","Brooklyn
        Nets","0022301192","2024-04-14","BKN @ PHI","L",240,86,32,83,0.386,9,34,0.265,13,17,0.765,4,38,42,19,8,6,12,14,-21.0],["22023",1610612753,"ORL","Orlando
        Magic","0022301191","2024-04-14","ORL vs. MIL","W",240,113,42,85,0.494,11,35,0.314,18,19,0.947,7,36,43,27,11,5,11,18,25.0],["2202[...]
