interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguegamefinder?Conference=&DateFrom=&DateTo=&Division=&DraftNumber=&DraftRound=&DraftTeamID=&DraftYear=&EqAST=&EqBLK=&EqDD=&EqDREB=&EqFG3A=&EqFG3M=&EqFG3_PCT=&EqFGA=&EqFGM=&EqFG_PCT=&EqFTA=&EqFTM=&EqFT_PCT=&EqMINUTES=&EqOREB=&EqPF=&EqPTS=&EqREB=&EqSTL=&EqTD=&EqTOV=&GameID=&GtAST=&GtBLK=&GtDD=&GtDREB=&GtFG3A=&GtFG3M=&GtFG3_PCT=&GtFGA=&GtFGM=&GtFG_PCT=&GtFTA=&GtFTM=&GtFT_PCT=&GtMINUTES=&GtOREB=&GtPF=&GtPTS=&GtREB=&GtSTL=&GtTD=&GtTOV=&LeagueID=00&Location=&LtAST=&LtBLK=&LtDD=&LtDREB=&LtFG3A=&LtFG3M=&LtFG3_PCT=&LtFGA=&LtFGM=&LtFG_PCT=&LtFTA=&LtFTM=&LtFT_PCT=&LtMINUTES=&LtOREB=&LtPF=&LtPTS=&LtREB=&LtSTL=&LtTD=&LtTOV=&Outcome=&PORound=&PlayerID=2544&PlayerOrTeam=P&RookieYear=&Season=2023-24&SeasonSegment=&SeasonType=&StarterBench=&TeamID=&VsConference=&VsDivision=&VsTeamID=&YearsExperience=
  response:
    body:
      string: '{"resource":"leaguegamefinderparameters","parameters":{"PlayerOrTeam":"P","LeagueID":"00","Season":"2023-24","SeasonType":null,"DateFrom":null,"DateTo":null,"TeamID":null,"VsTeamID":null,"PlayerID":"2544","GameID":null,"Outcome":null,"Location":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"DraftYear":null,"DraftNumber":null,"DraftRound":null,"DraftTeam":"","RookieYear":null,"YearsExperience":null,"SeasonSegment":null,"PORound":null,"StarterBench":null,"GtPts":null,"GtReb":null,"GtAst":null,"GtStl":null,"GtBlk":null,"GtOreb":null,"GtDreb":null,"GtDd":null,"GtTd":null,"GtMinutes":null,"GtTov":null,"GtPf":null,"GtFgm":null,"GtFga":null,"GtFgPct":null,"GtFtm":null,"GtFta":null,"GtFtPct":null,"GtFg3m":null,"GtFg3a":null,"GtFg3Pct":null,"LtPts":null,"LtReb":null,"LtAst":null,"LtStl":null,"LtBlk":null,"LtOreb":null,"LtDreb":null,"LtDd":null,"LtTd":null,"LtMinutes":null,"LtTov":null,"LtPf":null,"LtFgm":null,"LtFga":null,"LtFgPct":null,"LtFtm":null,"LtFta":null,"LtFtPct":null,"LtFg3m":null,"LtFg3a":null,"LtFg3Pct":null,"EqPts":null,"EqReb":null,"EqAst":null,"EqStl":null,"EqBlk":null,"EqOreb":null,"EqDreb":null,"EqDd":null,"EqTd":null,"EqMinutes":null,"EqTov":null,"EqPf":null,"EqFgm":null,"EqFga":null,"EqFgPct":null,"EqFtm":null,"EqFta":null,"EqFtPct":null,"EqFg3m":null,"EqFg3a":null,"EqFg3Pct":null,"ActivePlayersOnly":""},"resultSets":[{"name":"LeagueGameFinderResults","headers":["SEASON_ID","PLAYER_ID","PLAYER_NAME","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PLUS_MINUS"],"rowSet":[["42023",2544,"LeBron
        James",1610612747,"LAL","Los Angeles Lakers","0042300155","2024-04-29","LAL
        @ DEN","L",44,30,11,21,0.524,3,7,0.429,5,7,0.714,1,8,9,11,4,0,1,4,3],["42023",2544,"LeBron
        James",1610612747,"LAL","Los Angeles Lakers","0042300154","2024-04-27","LAL
        vs. DEN","W",39,30,14,23,0.609,0,2,0.0,2,2,1.0,1,4,5,4,3,1,6,0,1],["42023",2544,"LeBron
        James",1610612747,"LAL","Los Angeles Lakers","0042300153","2024-04-25","LAL
        vs. DEN","L",42,26,12,[...]
