interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=1&LeagueID=00&Location=&Month=&Outcome=&PORound=&PerMode=&Period=&PlayerID=&Season=2024-25&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"gamelogs","parameters":{"MeasureType":"Base","PerMode":"Totals","LeagueID":"00","SeasonYear":"2024-25","SeasonType":"Regular
        Season","PORound":null,"TeamID":0,"PlayerID":0,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":null,"ShotClockRange":null,"LastNGames":1,"IstRound":null},"resultSets":[{"name":"TeamGameLogs","headers":["SEASON_YEAR","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","AVAILABLE_FLAG"],"rowSet":[["2024-25",1610612763,"MEM","Memphis
        Grizzlies","0022401194","2025-04-13T00:00:00","MEM vs. DAL","W",48.0,52,104,0.5,15,40,0.375,13,15,0.867,19,34,53,31,12.0,13,7,3,15,13,132,35.0,1,1,1,1,7,1,4,10,8,13,10,14,20,6,2,14,7,6,6,2,5,6,10,24,3,1,1],["2024-25",1610612757,"POR","Portland
        Trail Blazers","0022401199","2025-04-13T00:00:00","POR vs. LAL","W",48.0,42,96,0.438,15,42,0.357,10,21,0.476,27,29,56,27,16.0,7,6,11,16,21,109,28.0,1,1,1,1,7,18,11,20,8,9,13,20,12,30,1,24,4,15,21,18,7,3[...]
