interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelog?DateFrom=&DateTo=&LeagueID=00&Season=2023-24&SeasonType=Regular+Season&TeamID=1610612738
  response:
    body:
      string: '{"resource":"teamgamelog","parameters":{"TeamID":1610612738,"LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","DateFrom":null,"DateTo":null},"resultSets":[{"name":"TeamGameLog","headers":["Team_ID","Game_ID","GAME_DATE","MATCHUP","WL","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[1610612738,"0022301186","APR
        14, 2024","BOS vs. WAS","W",64,18,0.78,240,51,89,0.573,16,32,0.5,14,21,0.667,10,38,48,29,10,15,14,13,132],[1610612738,"0022301173","APR
        12, 2024","BOS vs. CHA","W",63,18,0.778,240,54,104,0.519,14,41,0.341,9,13,0.692,16,37,53,34,12,1,6,20,131],[1610612738,"0022301167","APR
        11, 2024","BOS vs. NYK","L",62,18,0.775,240,40,86,0.465,16,42,0.381,13,16,0.813,10,26,36,25,7,12,12,16,109],[1610612738,"0022301148","APR
        09, 2024","BOS @ MIL","L",[...]
