interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelog?DateFrom=&DateTo=&LeagueID=00&Season=2023-24&SeasonType=Playoffs&TeamID=1610612747
  response:
    body:
      string: '{"resource":"teamgamelog","parameters":{"TeamID":1610612747,"LeagueID":"00","Season":"2023-24","SeasonType":"Playoffs","DateFrom":null,"DateTo":null},"resultSets":[{"name":"TeamGameLog","headers":["Team_ID","Game_ID","GAME_DATE","MATCHUP","WL","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[1610612747,"0042300155","APR
        29, 2024","LAL @ DEN","L",1,4,0.2,240,39,84,0.464,10,35,0.286,18,27,0.667,11,30,41,30,7,6,8,12,106],[1610612747,"0042300154","APR
        27, 2024","LAL vs. DEN","W",1,3,0.25,240,48,92,0.522,8,26,0.308,15,18,0.833,8,38,46,23,6,2,11,20,119],[1610612747,"0042300153","APR
        25, 2024","LAL vs. DEN","L",0,3,0.0,240,44,90,0.489,5,27,0.185,12,17,0.706,8,30,38,23,8,2,7,16,105],[1610612747,"0042300152","APR
        22, 2024","LAL @ DEN","L",0,2,0.0,240,38,78,0.487,13,30,0.433,10,13,0.769,4,34,38,24,6,3,14,20,99],[1610612747,"0042300151","APR
        20, 2024","LAL @ DEN","L",0,1,0.0,240,39,79,0.494,8,29,0.276,17,19,0.895,6,34,40,22,3,7,12,15,103]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      vha6-origin:
      - varnish-2
      x-datasource:
      - Databricks
      x-full-ttl:
      - '3600.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '2219.502'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
