interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=00&Location=&Month=&Outcome=W&PORound=&PerMode=&Period=&PlayerID=&Season=2023-24&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=1610612747&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"gamelogs","parameters":{"MeasureType":"Base","PerMode":"Totals","LeagueID":"00","SeasonYear":"2023-24","SeasonType":null,"PORound":null,"TeamID":1610612747,"PlayerID":0,"Outcome":"W","Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":null,"ShotClockRange":null,"LastNGames":null,"IstRound":null},"resultSets":[{"name":"TeamGameLogs","headers":["SEASON_YEAR","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","AVAILABLE_FLAG"],"rowSet":[["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0042300154","2024-04-27T00:00:00","LAL vs. DEN","W",48.0,48,92,0.522,8,26,0.308,15,18,0.833,8,38,46,23,12.0,6,2,4,20,15,119,11.0,1,1,1,1,5,15,10,28,42,46,43,40,42,16,23,21,22,49,16,32,48,21,43,47,34,20,1],["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0052300121","2024-04-16T00:00:00","LAL @ NOP","W",48.0,35,84,0.417,14,35,0.4,26,29,0.897,6,35,41,24,8.0,8,7,2,12,23,110,4.0,1,1,1,1,5,51,32,49,16,11,22,12,15,5,38,31,38,44,4,20,1[...]
