interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoreadvancedv3?EndPeriod=0&EndRange=0&GameID=0022300001&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: '{"meta":{"version":1,"request":"http://nba.cloud/games/0022300001/boxscoreadvanced?Format=json","time":"2025-12-23T21:00:13.013Z"},"boxScoreAdvanced":{"gameId":"0022300001","awayTeamId":1610612739,"homeTeamId":1610612754,"homeTeam":{"teamId":1610612754,"teamCity":"Indiana","teamName":"Pacers","teamTricode":"IND","teamSlug":"pacers","players":[{"personId":1631097,"firstName":"Bennedict","familyName":"Mathurin","nameI":"B.
        Mathurin","playerSlug":"bennedict-mathurin","position":"F","comment":"","jerseyNum":"","statistics":{"minutes":"24:06","estimatedOffensiveRating":103.9,"offensiveRating":103.9,"estimatedDefensiveRating":109.6,"defensiveRating":109.6,"estimatedNetRating":-5.7,"netRating":-5.7,"assistPercentage":0.278,"assistToTurnover":5.0,"assistRatio":35.7,"offensiveReboundPercentage":0.04,"defensiveReboundPercentage":0.083,"reboundPercentage":0.061,"turnoverRatio":7.1,"effectiveFieldGoalPercentage":0.357,"trueShootingPercentage":0.3,"usagePercentage":0.15,"estimatedUsagePercentage":0.15,"estimatedPace":102.57,"pace":102.57,"pacePer40":85.48,"possessions":51.0,"PIE":0.035}},{"personId":1630167,"firstName":"Obi","familyName":"Toppin","nameI":"O.
        Toppin","playerSlug":"obi-toppin","position":"F","comment":"","jerseyNum":"","statistics":{"minutes":"20:30","estimatedOffensiveRating":115.2,"offensiveRating":115.2,"estimatedDefensiveRating":120.5,"defensiveRating":120.5,"estimatedNetRating":-5.2,"netRating":-5.2,"assistPercentage":0.059,"assistToTurnover":0.0,"assistRatio":14.3,"offensiveReboundPercentage":0.042,"defensiveReboundPercentage":0.167,"reboundP[...]
