interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguegamefinder?Conference=&DateFrom=2021-01-01&DateTo=2021-01-31&Division=&DraftNumber=&DraftRound=&DraftTeamID=&DraftYear=&EqAST=&EqBLK=&EqDD=&EqDREB=&EqFG3A=&EqFG3M=&EqFG3_PCT=&EqFGA=&EqFGM=&EqFG_PCT=&EqFTA=&EqFTM=&EqFT_PCT=&EqMINUTES=&EqOREB=&EqPF=&EqPTS=&EqREB=&EqSTL=&EqTD=&EqTOV=&GameID=&GtAST=&GtBLK=&GtDD=&GtDREB=&GtFG3A=&GtFG3M=&GtFG3_PCT=&GtFGA=&GtFGM=&GtFG_PCT=&GtFTA=&GtFTM=&GtFT_PCT=&GtMINUTES=&GtOREB=&GtPF=&GtPTS=&GtREB=&GtSTL=&GtTD=&GtTOV=&LeagueID=00&Location=&LtAST=&LtBLK=&LtDD=&LtDREB=&LtFG3A=&LtFG3M=&LtFG3_PCT=&LtFGA=&LtFGM=&LtFG_PCT=&LtFTA=&LtFTM=&LtFT_PCT=&LtMINUTES=&LtOREB=&LtPF=&LtPTS=&LtREB=&LtSTL=&LtTD=&LtTOV=&Outcome=&PORound=&PlayerID=&PlayerOrTeam=T&RookieYear=&Season=&SeasonSegment=&SeasonType=&StarterBench=&TeamID=&VsConference=&VsDivision=&VsTeamID=&YearsExperience=
  response:
    body:
      string: '{"resource":"leaguegamefinderparameters","parameters":{"PlayerOrTeam":"T","LeagueID":"00","Season":null,"SeasonType":null,"DateFrom":"01/01/2021","DateTo":"01/31/2021","TeamID":null,"VsTeamID":null,"PlayerID":null,"GameID":null,"Outcome":null,"Location":null,"VsConference":null,"VsDivision":null,"Conference":null,"Division":null,"DraftYear":null,"DraftNumber":null,"DraftRound":null,"DraftTeam":"","RookieYear":null,"YearsExperience":null,"SeasonSegment":null,"PORound":null,"StarterBench":null,"GtPts":null,"GtReb":null,"GtAst":null,"GtStl":null,"GtBlk":null,"GtOreb":null,"GtDreb":null,"GtDd":null,"GtTd":null,"GtMinutes":null,"GtTov":null,"GtPf":null,"GtFgm":null,"GtFga":null,"GtFgPct":null,"GtFtm":null,"GtFta":null,"GtFtPct":null,"GtFg3m":null,"GtFg3a":null,"GtFg3Pct":null,"LtPts":null,"LtReb":null,"LtAst":null,"LtStl":null,"LtBlk":null,"LtOreb":null,"LtDreb":null,"LtDd":null,"LtTd":null,"LtMinutes":null,"LtTov":null,"LtPf":null,"LtFgm":null,"LtFga":null,"LtFgPct":null,"LtFtm":null,"LtFta":null,"LtFtPct":null,"LtFg3m":null,"LtFg3a":null,"LtFg3Pct":null,"EqPts":null,"EqReb":null,"EqAst":null,"EqStl":null,"EqBlk":null,"EqOreb":null,"EqDreb":null,"EqDd":null,"EqTd":null,"EqMinutes":null,"EqTov":null,"EqPf":null,"EqFgm":null,"EqFga":null,"EqFgPct":null,"EqFtm":null,"EqFta":null,"EqFtPct":null,"EqFg3m":null,"EqFg3a":null,"EqFg3Pct":null,"ActivePlayersOnly":""},"resultSets":[{"name":"LeagueGameFinderResults","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PLUS_MINUS"],"rowSet":[["22020",1610612739,"CLE","Cleveland
        Cavaliers","0022000311","2021-01-31","CLE @ MIN","L",239,104,41,84,0.488,4,16,0.25,18,23,0.783,10,45,55,20,3,3,19,14,-5.0],["22020",1610612755,"PHI","Philadelphia
        76ers","0022000307","2021-01-31","PHI @ IND","W",240,119,45,92,0.489,8,26,0.308,21,31,0.677,14,30,44,20,9,8,12,21,9.0],["22020",1610612750,"MIN","Minnesota
        Timberwolves","0022000311","2021-01-31","MIN vs. CLE","W",239,109,41,91,0.451,16,40,0.4,11,15,0.733,7,27,34,24,10,11,8,[...]
