interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=00&Location=Home&Month=&Outcome=&PORound=&PerMode=&Period=&PlayerID=&Season=2023-24&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=1610612747&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"gamelogs","parameters":{"MeasureType":"Base","PerMode":"Totals","LeagueID":"00","SeasonYear":"2023-24","SeasonType":null,"PORound":null,"TeamID":1610612747,"PlayerID":0,"Outcome":null,"Location":"Home","Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":null,"ShotClockRange":null,"LastNGames":null,"IstRound":null},"resultSets":[{"name":"TeamGameLogs","headers":["SEASON_YEAR","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","AVAILABLE_FLAG"],"rowSet":[["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0042300154","2024-04-27T00:00:00","LAL vs. DEN","W",48.0,48,92,0.522,8,26,0.308,15,18,0.833,8,38,46,23,12.0,6,2,4,20,15,119,11.0,1,1,1,1,3,10,8,20,39,43,40,36,40,12,25,16,17,45,16,31,43,17,41,43,24,13,1],["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0042300153","2024-04-25T00:00:00","LAL vs. DEN","L",48.0,44,90,0.489,5,27,0.185,12,17,0.706,8,30,38,23,7.0,8,2,3,16,14,105,-7.0,1,33,33,33,3,21,11,33,46,39,47,45,45,41,25,40,42,45[...]
