interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=00&Location=&Month=&Outcome=&PORound=&PerMode=&Period=&PlayerID=&Season=2023-24&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=1610612747&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"gamelogs","parameters":{"MeasureType":"Base","PerMode":"Totals","LeagueID":"00","SeasonYear":"2023-24","SeasonType":"Regular
        Season","PORound":null,"TeamID":1610612747,"PlayerID":0,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":null,"ShotClockRange":null,"LastNGames":null,"IstRound":null},"resultSets":[{"name":"TeamGameLogs","headers":["SEASON_YEAR","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","AVAILABLE_FLAG"],"rowSet":[["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0022301195","2024-04-14T00:00:00","LAL @ NOP","W",48.0,48,87,0.552,11,29,0.379,17,18,0.944,7,32,39,32,15.0,12,3,1,13,17,124,16.0,1,1,1,1,6,16,42,11,46,51,37,45,64,2,49,49,58,16,45,5,67,1,16,54,26,12,1],["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0022301177","2024-04-12T00:00:00","LAL @ MEM","W",48.0,42,81,0.519,13,37,0.351,26,34,0.765,10,29,39,25,19.0,5,6,2,17,27,123,3.0,1,1,1,1,6,46,67,32,26,6,50,13,8,47,14,73,58,63,72,61,[...]
