interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=00&Location=&Month=&Outcome=&PORound=&PerMode=&Period=&PlayerID=&Season=2023-24&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=1610612747&VsConference=East&VsDivision=
  response:
    body:
      string: '{"resource":"gamelogs","parameters":{"MeasureType":"Base","PerMode":"Totals","LeagueID":"00","SeasonYear":"2023-24","SeasonType":null,"PORound":null,"TeamID":1610612747,"PlayerID":0,"Outcome":null,"Location":null,"Month":null,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OppTeamID":0,"VsConference":"East","VsDivision":null,"GameSegment":null,"Period":null,"ShotClockRange":null,"LastNGames":null,"IstRound":null},"resultSets":[{"name":"TeamGameLogs","headers":["SEASON_YEAR","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","AVAILABLE_FLAG"],"rowSet":[["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0022301127","2024-04-06T00:00:00","LAL vs. CLE","W",48.0,45,80,0.563,16,37,0.432,10,16,0.625,6,34,40,30,20.0,11,11,3,12,11,116,19.0,1,1,1,1,3,14,29,3,5,6,8,31,27,31,23,20,23,10,29,3,1,6,5,33,18,4,1],["2023-24",1610612747,"LAL","Los
        Angeles Lakers","0022301103","2024-04-03T00:00:00","LAL @ WAS","W",48.0,46,91,0.505,8,28,0.286,25,29,0.862,11,38,49,21,17.0,10,4,4,10,22,125,5.0,1,1,1,1,3,13,9,19,24,26,26,6,8,7,6,11,7,32,22,6,23,11,2,[...]
