interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/scoreboardv3?GameDate=2025-07-15&LeagueID=00
  response:
    body:
      string: '{"meta":{"version":1,"request":"http://nba.cloud/league/00/2025/07/15/scoreboard?Format=json","time":"2025-07-17T11:10:49.1049Z"},"scoreboard":{"gameDate":"2025-07-15","leagueId":"00","leagueName":"National
        Basketball Association","games":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      vha6-origin:
      - varnish-2
      x-datasource:
      - S3
      x-full-ttl:
      - '300.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '175.540'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
