interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playercareerstats?LeagueID=00&PerMode=Totals&PlayerID=2544
  response:
    body:
      string: '{"resource":"playercareerstats","parameters":{"PerMode":"Totals","PlayerID":2544,"LeagueID":"00"},"resultSets":[{"name":"SeasonTotalsRegularSeason","headers":["PLAYER_ID","SEASON_ID","LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","PLAYER_AGE","GP","GS","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[2544,"2003-04","00",1610612739,"CLE",19.0,79,79,3120,622,1492,0.417,63,217,0.29,347,460,0.754,99,333,432,465,130,58,273,149,1654],[2544,"2004-05","00",1610612739,"CLE",20.0,80,80,3388,795,1684,0.472,108,308,0.351,477,636,0.75,111,477,588,577,177,52,262,146,2175],[2544,"2005-06","00",1610612739,"CLE",21.0,79,79,3361,875,1823,0.48,127,379,0.335,601,814,0.738,75,481,556,521,123,66,260,181,2478],[2544,"2006-07","00",1610612739,"CLE",22.0,78,78,3190,772,1621,0.476,99,310,0.319,489,701,0.698,83,443,[...]
