interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2023-24&SeasonSegment=&SeasonType=Playoffs&ShotClockRange=&StarterBench=&TeamID=1610612747&TwoWay=&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"leaguedashteamstats","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2023-24","SeasonType":"Playoffs","PORound":null,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"TeamID":1610612747,"Conference":null,"Division":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"GameScope":null,"PlayerExperience":null,"PlayerPosition":null,"StarterBench":null,"TwoWay":0,"GameSubtype":null,"ISTRound":null},"resultSets":[{"name":"LeagueDashTeamStats","headers":["TEAM_ID","TEAM_NAME","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK"],"rowSet":[[1610612747,"Los
        Angeles Lakers",5,1,4,0.2,240.0,208,423,0.492,44,147,0.299,72,94,0.766,37,166,203,122,55.0,30,20,16,83,82,532,-11.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '416.125'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
