interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashlineups?DateFrom=2024-01-01&DateTo=2024-03-31&GameID=&GameSegment=&GroupQuantity=4&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2023-24&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&TeamID=1610612738&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"teamdashlineups","parameters":{"MeasureType":"Base","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","PORound":0,"TeamID":1610612738,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":"01/01/2024","DateTo":"03/31/2024","OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"ISTRound":null,"GroupQuantity":4,"GameID":null},"resultSets":[{"name":"Overall","headers":["GROUP_SET","GROUP_VALUE","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK","FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK","OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK","BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK"],"rowSet":[["Overall","2023-24",1610612738,"BOS","Boston
        Celtics",42,32,10,0.762,2026.0,1842,3773,0.488,710,1766,0.402,688,847,0.812,433,1489,1922,1145,471.0,275,281,151,660,727,5082,506.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]]},{"name":"Lineups","headers":["GROUP_SET","GROUP_ID","GROUP_NAME","GP","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","GP_RANK","W_RANK",[...]
