interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelog?DateFrom=&DateTo=&LeagueID=00&Season=2023-24&SeasonType=Regular+Season&TeamID=1610612747
  response:
    body:
      string: '{"resource":"teamgamelog","parameters":{"TeamID":1610612747,"LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","DateFrom":null,"DateTo":null},"resultSets":[{"name":"TeamGameLog","headers":["Team_ID","Game_ID","GAME_DATE","MATCHUP","WL","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[1610612747,"0022301195","APR
        14, 2024","LAL @ NOP","W",47,35,0.573,240,48,87,0.552,11,29,0.379,17,18,0.944,7,32,39,32,12,3,14,13,124],[1610612747,"0022301177","APR
        12, 2024","LAL @ MEM","W",46,35,0.568,240,42,81,0.519,13,37,0.351,26,34,0.765,10,29,39,25,5,6,19,17,123],[1610612747,"0022301155","APR
        09, 2024","LAL vs. GSW","L",45,35,0.563,240,44,96,0.458,12,35,0.343,20,24,0.833,10,30,40,31,8,3,7,14,120],[1610612747,"0022301143","APR
        07, 2024","LAL vs. MIN","L",45,[...]
