interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamgamelog?DateFrom=01%2F01%2F2024&DateTo=01%2F31%2F2024&LeagueID=00&Season=2023-24&SeasonType=Regular+Season&TeamID=1610612747
  response:
    body:
      string: '{"resource":"teamgamelog","parameters":{"TeamID":1610612747,"LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","DateFrom":"01/01/2024","DateTo":"01/31/2024"},"resultSets":[{"name":"TeamGameLog","headers":["Team_ID","Game_ID","GAME_DATE","MATCHUP","WL","W","L","W_PCT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[1610612747,"0022300669","JAN
        30, 2024","LAL @ ATL","L",24,25,0.49,240,48,90,0.533,12,33,0.364,14,25,0.56,7,30,37,28,12,3,14,16,122],[1610612747,"0022300662","JAN
        29, 2024","LAL @ HOU","L",24,24,0.5,240,45,91,0.495,13,35,0.371,16,26,0.615,4,31,35,26,10,6,12,13,119],[1610612747,"0022300650","JAN
        27, 2024","LAL @ GSW","W",24,23,0.511,290,49,101,0.485,9,27,0.333,38,43,0.884,7,48,55,33,9,5,19,21,145],[1610612747,"0022300633","JAN
        25, 2024","LAL vs. CHI","W",23,23,0.5[...]
