interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdashlineups?DateFrom=&DateTo=&GameID=&GameSegment=&GroupQuantity=3&LastNGames=0&LeagueID=00&Location=&MeasureType=Advanced&Month=0&OpponentTeamID=0&Outcome=&PORound=&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2023-24&SeasonSegment=&SeasonType=Playoffs&ShotClockRange=&TeamID=1610612744&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"teamdashlineups","parameters":{"MeasureType":"Advanced","PerMode":"Totals","PlusMinus":"N","PaceAdjust":"N","Rank":"N","LeagueID":"00","Season":"2023-24","SeasonType":"Playoffs","PORound":0,"TeamID":1610612744,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"ShotClockRange":null,"LastNGames":0,"ISTRound":null,"GroupQuantity":3,"GameID":null},"resultSets":[{"name":"Overall","headers":["GROUP_SET","GROUP_VALUE","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GP","W","L","W_PCT","MIN","E_OFF_RATING","OFF_RATING","E_DEF_RATING","DEF_RATING","E_NET_RATING","NET_RATING","AST_PCT","AST_TO","AST_RATIO","OREB_PCT","DREB_PCT","REB_PCT","TM_TOV_PCT","EFG_PCT","TS_PCT","E_PACE","PACE","PACE_PER40","POSS","PIE","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","OFF_RATING_RANK","DEF_RATING_RANK","NET_RATING_RANK","AST_PCT_RANK","AST_TO_RANK","AST_RATIO_RANK","OREB_PCT_RANK","DREB_PCT_RANK","REB_PCT_RANK","TM_TOV_PCT_RANK","EFG_PCT_RANK","TS_PCT_RANK","PACE_RANK","PIE_RANK"],"rowSet":[]},{"name":"Lineups","headers":["GROUP_SET","GROUP_ID","GROUP_NAME","GP","W","L","W_PCT","MIN","E_OFF_RATING","OFF_RATING","E_DEF_RATING","DEF_RATING","E_NET_RATING","NET_RATING","AST_PCT","AST_TO","AST_RATIO","OREB_PCT","DREB_PCT","REB_PCT","TM_TOV_PCT","EFG_PCT","TS_PCT","E_PACE","PACE","PACE_PER40","POSS","PIE","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","OFF_RATING_RANK","DEF_RATING_RANK","NET_RATING_RANK","AST_PCT_RANK","AST_TO_RANK","AST_RATIO_RANK","OREB_PCT_RANK","DREB_PCT_RANK","REB_PCT_RANK","TM_TOV_PCT_RANK","EFG_PCT_RANK","TS_PCT_RANK","PACE_RANK","PIE_RANK","SUM_TIME_PLAYED"],"rowSet":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      x-datasource:
      - Databricks
      x-full-ttl:
      - '3600.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '3'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '2215.326'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
