interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/scoreboardv3?GameDate=2025-11-05&LeagueID=00
  response:
    body:
      string: "{\"meta\":{\"version\":1,\"request\":\"http://nba.cloud/league/00/2025/11/05/scoreboard?Format=json\",\"time\":\"2026-01-22T14:21:16.2116Z\"},\"scoreboard\":{\"gameDate\":\"2025-11-05\",\"leagueId\":\"00\",\"leagueName\":\"National
        Basketball Association\",\"games\":[{\"gameId\":\"0022500171\",\"gameCode\":\"20251105/PHICLE\",\"gameStatus\":3,\"gameStatusText\":\"Final\",\"period\":4,\"gameClock\":\"\",\"gameTimeUTC\":\"2025-11-06T00:00:00Z\",\"gameEt\":\"2025-11-05T19:00:00Z\",\"regulationPeriods\":4,\"seriesGameNumber\":\"\",\"gameLabel\":\"\",\"gameSubLabel\":\"\",\"seriesText\":\"\",\"ifNecessary\":false,\"seriesConference\":\"\",\"poRoundDesc\":\"\",\"gameSubtype\":\"\",\"isNeutral\":false,\"gameLeaders\":{\"homeLeaders\":{\"personId\":1628378,\"name\":\"Donovan
        Mitchell\",\"playerSlug\":\"donovan-mitchell\",\"jerseyNum\":\"45\",\"position\":\"G\",\"teamTricode\":\"CLE\",\"points\":46,\"rebounds\":4,\"assists\":8},\"awayLeaders\":{\"personId\":1630178,\"name\":\"Tyrese
        Maxey\",\"playerSlug\":\"tyrese-maxey\",\"jerseyNum\":\"0\",\"position\":\"G\",\"teamTricode\":\"PHI\",\"points\":27,\"rebounds\":7,\"assists\":9}},\"teamLeaders\":{\"homeLeaders\":{\"personId\":1628378,\"name\":\"Donovan
        Mitchell\",\"playerSlug\":\"donovan-mitchell\",\"jerseyNum\":\"45\",\"position\":\"G\",\"teamTricode\":\"CLE\",\"points\":28.9,\"rebounds\":4.8,\"assists\":5.7},\"awayLeaders\":{\"personId\":1630178,\"name\":\"Tyrese
        Maxey\",\"playerSlug\":\"tyrese-maxey\",\"jerseyNum\":\"0\",\"position\":\"G\",\"teamTricode\":\"PHI\",\"points\":30.0,\"rebounds\":4.4,\"assists\":6.7},\"seasonLeadersFlag\":0},\"broadcasters\":{\"nationalBroadcasters\":[],\"nationalRadioBroadcasters\":[{\"broadcasterId\":1001098,\"broadcastDisplay\":\"SiriusXM\",\"broadcasterTeamId\":-1,\"broadcasterDescription\":\"\"}],\"nationalOttBroadcasters\":[],\"homeTvBroadcasters\":[{\"broadcasterId\":1001336,\"broadcastDisplay\":\"FDSNOH/RESN/WUAB\",\"broadcasterTeamId\":1610612739,\"broadcasterDescription\":\"\"}],\"homeRadioBroadcasters\":[{\"broadcasterId\":1001554,\"broadcastDisplay\":\"WTAM/WMMS/WJMO\",\"broadcasterTeamId\":1610612739,\"broadcasterDescription\":\"\"}],\"homeOttBroadcasters\":[],\"awayTvBroadcasters\":[{\"broadcasterId\":133,\"broadcastDisplay\":\"NBCSP\",\"broadcasterTeamId\":1610612755,\"broadcasterDescription\":\"\"}],\"awayRadioBroadcasters\":[{\"broadcasterId\":1434,\"broadcastDisplay\":\"WPEN\",\"broadcasterTeamId\":1610612755,\"broadcasterDescription\":\"\"}],\"awayOttBroadcasters\":[]},\"homeTeam\":{\"teamId\":1610612739,\"teamName\":\"Cavaliers\",\"teamCity\":\"Cleveland\",\"teamTricode\":\"CLE\",\"teamSlug\":\"cavaliers\",\"wins\":5,\"losses\":3,\"score\":132,\"seed\":0,\"inBonus\":null,\"timeoutsRemaining\":1,\"periods\":[{\"period\":1,\"periodType\":\"REGULAR\",\"score\":41},{\"period\":2,\"periodType\":\"REGULAR\",\"score\":29},{\"period\":3,\"periodType\":\"REGULAR\",\"score\":37},{\"period\":4,\"periodType\":\"REGULAR\",\"score\":25}]},\"awayTeam\":{\"teamId\":1610612755,\"teamName\":\"76ers\",\"teamCity\":\"Philadelphia\",\"teamTricode\":\"PHI\",\"teamSlug\":\"sixers\",\"wins\":5,\"losses\":3,\"score\":121,\"seed\":0,\"inBonus\":null,\"timeoutsRemaining\":0,\"periods\":[{\"period\":1,\"periodType\":\"REGULAR\",\"score\":27},{\"period\":2,\"periodType\":\"REGULAR\",\"score\":40},{\"period\":3,\"periodType\":\"REGULAR\",\"score\":20},{\"period\":4,\"periodType\":\"REGULAR\",\"score\":34}]}},{\"gameId\":\"0022500172\",\"gameCode\":\"20251105[...]
