interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/playerdashptshotdefend?DateFrom=&DateTo=&GameSegment=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PerMode=Totals&Period=0&PlayerID=2544&Season=2023-24&SeasonSegment=&SeasonType=Regular+Season&TeamID=0&VsConference=&VsDivision=
  response:
    body:
      string: '{"resource":"playerdashptshotdefend","parameters":{"PerMode":"Totals","LeagueID":"00","Season":"2023-24","SeasonType":"Regular
        Season","PlayerID":2544,"TeamID":0,"Outcome":null,"Location":null,"Month":0,"SeasonSegment":null,"DateFrom":null,"DateTo":null,"OpponentTeamID":0,"VsConference":null,"VsDivision":null,"GameSegment":null,"Period":0,"LastNGames":0,"ISTRound":null},"resultSets":[{"name":"DefendingShots","headers":["MATCHUPID","GP","G","DEFENSE_CATEGORY","FREQ","D_FGM","D_FGA","D_FG_PCT","NORMAL_FG_PCT","PCT_PLUSMINUS"],"rowSet":[[2544,70,70,"Overall",1.0,328,710,0.462,0.48,-0.019],[2544,70,70,"3
        Pointers",0.427,106,303,0.35,0.367,-0.017],[2544,70,69,"2 Pointers",0.573,222,407,0.545,0.546,0.0],[2544,70,66,"Less
        Than 6 Ft",0.344,150,244,0.615,0.621,-0.006],[2544,70,68,"Less Than 10 Ft",0.43,177,305,0.58,0.583,-0.003],[2544,70,70,"Greater
        Than 15 Ft",0.508,134,361,0.371,0.371,0.0]]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ttl:
      - '31536000'
      vha6-origin:
      - varnish-2
      x-datasource:
      - Databricks
      x-full-ttl:
      - '1800.000'
      x-grace:
      - '86400.000'
      x-hits:
      - '1'
      x-keep:
      - '0.000'
      x-status:
      - hit
      x-ttl:
      - '300.833'
      x-vcl-region:
      - West US2
      x-vcl-version:
      - NBA.com prod 1.7a
    status:
      code: 200
      message: OK
version: 1
