interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/leaguegamefinder?Conference=East&DateFrom=&DateTo=&Division=&DraftNumber=&DraftRound=&DraftTeamID=&DraftYear=&EqAST=&EqBLK=&EqDD=&EqDREB=&EqFG3A=&EqFG3M=&EqFG3_PCT=&EqFGA=&EqFGM=&EqFG_PCT=&EqFTA=&EqFTM=&EqFT_PCT=&EqMINUTES=&EqOREB=&EqPF=&EqPTS=&EqREB=&EqSTL=&EqTD=&EqTOV=&GameID=&GtAST=&GtBLK=&GtDD=&GtDREB=&GtFG3A=&GtFG3M=&GtFG3_PCT=&GtFGA=&GtFGM=&GtFG_PCT=&GtFTA=&GtFTM=&GtFT_PCT=&GtMINUTES=&GtOREB=&GtPF=&GtPTS=&GtREB=&GtSTL=&GtTD=&GtTOV=&LeagueID=00&Location=&LtAST=&LtBLK=&LtDD=&LtDREB=&LtFG3A=&LtFG3M=&LtFG3_PCT=&LtFGA=&LtFGM=&LtFG_PCT=&LtFTA=&LtFTM=&LtFT_PCT=&LtMINUTES=&LtOREB=&LtPF=&LtPTS=&LtREB=&LtSTL=&LtTD=&LtTOV=&Outcome=&PORound=&PlayerID=&PlayerOrTeam=T&RookieYear=&Season=2023-24&SeasonSegment=&SeasonType=&StarterBench=&TeamID=&VsConference=&VsDivision=&VsTeamID=&YearsExperience=
  response:
    body:
      string: '{"resource":"leaguegamefinderparameters","parameters":{"PlayerOrTeam":"T","LeagueID":"00","Season":"2023-24","SeasonType":null,"DateFrom":null,"DateTo":null,"TeamID":null,"VsTeamID":null,"PlayerID":null,"GameID":null,"Outcome":null,"Location":null,"VsConference":null,"VsDivision":null,"Conference":"East","Division":null,"DraftYear":null,"DraftNumber":null,"DraftRound":null,"DraftTeam":"","RookieYear":null,"YearsExperience":null,"SeasonSegment":null,"PORound":null,"StarterBench":null,"GtPts":null,"GtReb":null,"GtAst":null,"GtStl":null,"GtBlk":null,"GtOreb":null,"GtDreb":null,"GtDd":null,"GtTd":null,"GtMinutes":null,"GtTov":null,"GtPf":null,"GtFgm":null,"GtFga":null,"GtFgPct":null,"GtFtm":null,"GtFta":null,"GtFtPct":null,"GtFg3m":null,"GtFg3a":null,"GtFg3Pct":null,"LtPts":null,"LtReb":null,"LtAst":null,"LtStl":null,"LtBlk":null,"LtOreb":null,"LtDreb":null,"LtDd":null,"LtTd":null,"LtMinutes":null,"LtTov":null,"LtPf":null,"LtFgm":null,"LtFga":null,"LtFgPct":null,"LtFtm":null,"LtFta":null,"LtFtPct":null,"LtFg3m":null,"LtFg3a":null,"LtFg3Pct":null,"EqPts":null,"EqReb":null,"EqAst":null,"EqStl":null,"EqBlk":null,"EqOreb":null,"EqDreb":null,"EqDd":null,"EqTd":null,"EqMinutes":null,"EqTov":null,"EqPf":null,"EqFgm":null,"EqFga":null,"EqFgPct":null,"EqFtm":null,"EqFta":null,"EqFtPct":null,"EqFg3m":null,"EqFg3a":null,"EqFg3Pct":null,"ActivePlayersOnly":""},"resultSets":[{"name":"LeagueGameFinderResults","headers":["SEASON_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PLUS_MINUS"],"rowSet":[["42023",1610612738,"BOS","Boston
        Celtics","0042300405","2024-06-17","BOS vs. DAL","W",240,106,38,89,0.427,13,39,0.333,17,20,0.85,15,36,51,25,9,2,7,15,18.0],["42023",1610612738,"BOS","Boston
        Celtics","0042300404","2024-06-14","BOS @ DAL","L",239,84,29,80,0.363,14,41,0.341,12,13,0.923,4,27,31,18,2,5,13,19,-38.0],["42023",1610612738,"BOS","Boston
        Celtics","0042300403","2024-06-12","BOS @ DAL","W",240,106,38,82,0.463,17,46,0.37,13,14,0.929,6,30,36,26,4,6,9,19,7.0],["42023",[...]
