interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoresummaryv2?GameID=0022300001
  response:
    body:
      string: '{"resource":"boxscoresummary","parameters":{"GameID":"0022300001"},"resultSets":[{"name":"GameSummary","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","WH_STATUS"],"rowSet":[["2023-11-03T00:00:00",1,"0022300001",3,"Final","20231103/CLEIND",1610612754,1610612739,"2023",4,"     ",null,null,1]]},{"name":"OtherStats","headers":["LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PTS_PAINT","PTS_2ND_CHANCE","PTS_FB","LARGEST_LEAD","LEAD_CHANGES","TIMES_TIED","TEAM_TURNOVERS","TOTAL_TURNOVERS","TEAM_REBOUNDS","PTS_OFF_TO"],"rowSet":[["00",1610612739,"CLE","Cleveland",62,6,24,4,10,4,0,13,3,26],["00",1610612754,"IND","Indiana",52,20,17,18,10,4,1,19,16,15]]},{"name":"Off[...]
